<script type="text/javascript" src="/Soul/portal/procesos/emisionCartaFianzaV1/proceso/preControlador/pre_iniciarproceso.js"></script>
<script type="text/javascript" src="/Soul/portal/procesos/emisionCartaFianzaV1/proceso/controlador/iniciarproceso.js"></script>
<div ng-controller="pre_iniciarproceso" class="panel panel-default">
	<div ng-controller="iniciarproceso">
	  <div class="panel-heading"><strong>Datos Principales</strong></div>
		<table class="table table-striped">
		    <tbody>
			  <tr>
				<th><span class="frm_requerido">(*)</span> Tipo de Fianza :</th>
				<td>
					<select name="tipoBusqueda" ng-model="baseIPConfig.data.tipoFianza" class="form-control input-sm" required>
						<option value="LIC">LICITACION</option>
						<option value="REQ">REQUERIMIENTO</option>
						<option value="DET">DETALLE</option>
					</select>
				</td>
			  </tr>
			  <tr>
				<th><span class="frm_requerido">(*)</span> Monto :</th>
				<td class="form-inline">
					<select name="monedaFianza" ng-model="baseIPConfig.data.monedaFianza" class="form-control input-sm" required>
						<option value="USD">DÓLARES AMERICANOS</option>
						<option value="PEN">NUEVOS SOLES</option>
					</select>
					<input type="text" name="montoFianza" ng-model="baseIPConfig.data.montoFianza" class="form-control input-sm" required>
				</td>
			  </tr>
		    </tbody>
		</table>
	</div>
</div>