<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Soul</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>user authentication</web-resource-name>
      <url-pattern>/portal/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-role>
    <description>Usuario Administrador</description>
    <role-name>Administrador</role-name>
  </security-role>
  <security-role>
    <description>Usuario Operador</description>
    <role-name>Operador</role-name>
  </security-role>
  <security-role>
    <description>Usuario Analista</description>
    <role-name>Analista</role-name>
  </security-role>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>dominioSoul</realm-name>
    <form-login-config>
      <form-login-page>/acceso.html</form-login-page>
      <form-error-page>/errorAcceso.html</form-error-page>
    </form-login-config>
  </login-config>
  <error-page>
    <error-code>403</error-code>
    <location>/403.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/portal/index.html</location>
  </error-page>
</web-app>