<div ng-show="cargador.data.esVisible"><div class="CARGADOR">
	<div class="CARGADOR_FONDO" style="display: block;"></div>
	<div class="CARGADOR_MODAL CARGADOR_MODAL_ANCHO" style="display: block; ">
		<div class="CARGADOR_MODAL_CONTENEDOR CARGADOR_MODAL_CONTENEDOR_ANCHO">
			<span class="CARGADOR_MODAL_IMG"  ng-hide="cargador.data.tipoMensaje==3 || cargador.data.tipoMensaje==-1"></span>
			<span class="CARGADOR_MODAL_IMG_ERROR" ng-show="cargador.data.tipoMensaje==3 || cargador.data.tipoMensaje==-1"></span>
			<span class="CARGADOR_MODAL_TEXTO" ng-show="cargador.data.tipoMensaje==0">{{cargador.data.mensaje}}</span>
			<span class="CARGADOR_MODAL_TEXTO" ng-show="cargador.data.tipoMensaje==1">Cargando, Por favor espere ...</span>
			<span class="CARGADOR_MODAL_TEXTO" ng-show="cargador.data.tipoMensaje==2">Accediendo al sistema, por favor espere ...</span>
			<span class="CARGADOR_MODAL_TEXTO" ng-show="cargador.data.tipoMensaje==3">Ha ocurrido un problema, <a href ng-click="cargador.data.mostrarMensajeError = true; cargador.data.tipoMensaje=-1">click aquí</a> para ver el detalle<br><a href ng-click="cargador.ocultar()">Cerrar</a></span>
			<span class="CARGADOR_MODAL_TEXTO" ng-show="cargador.data.mostrarMensajeError"><textarea style="width: 100%;">{{cargador.data.mensajeError}}</textarea><a href ng-click="cargador.ocultar()">Cerrar</a></span>
		</div>
	</div>
</div></div>