<script type="text/javascript" src="/Soul/portal/procesos/emisionCartaFianzaV1/tareas/preControlador/pre_completarSolicitudV1.js"></script>
<script type="text/javascript" src="/Soul/portal/procesos/emisionCartaFianzaV1/tareas/controlador/completarSolicitudV1.js"></script>
<div ng-controller="pre_trabajarTarea" class="panel panel-default">
	<div ng-controller="trabajarTarea">
	  <div class="panel-heading"><strong>Datos Principales</strong></div>
		<table class="table table-striped">
		    <tbody>
			  <tr>
				<th><span class="frm_requerido">(*)</span> Tipo de Fianza :</th>
				<td class="form-group" show-errors='{showSuccess: true}'>
					<select name="tipoBusqueda" ng-model="baseTrabajar.data.tipoFianza" class="form-control input-sm" required>
						<option value="LIC">LICITACION</option>
						<option value="REQ">REQUERIMIENTO</option>
						<option value="DET">DETALLE</option>
					</select>
					<p class="help-block" ng-if="frm_trabajartarea.tipoBusqueda.$error.required">Seleccione un valor correcto</p>
				</td>
			  </tr>
			  <tr>
				<th><span class="frm_requerido">(*)</span> Monto :</th>
				<td class="form-inline">
					<span class="form-group" show-errors='{showSuccess: true}'>
						<select name="monedaFianza" ng-model="baseTrabajar.data.monedaFianza" class="form-control input-sm" required>
							<option value="USD">DÓLARES AMERICANOS</option>
							<option value="PEN">NUEVOS SOLES</option>
						</select>
						<p class="help-block" ng-if="frm_trabajartarea.monedaFianza.$error.required">Seleccione un valor correcto</p>
					</span>
					<span class="form-group" show-errors='{showSuccess: true}'>
						<input type="number" name="montoFianza" ng-model="baseTrabajar.data.montoFianza" class="form-control input-sm" required>
						<p class="help-block" ng-if="frm_trabajartarea.montoFianza.$error.required">Ingrese un valor correcto</p>
					</span>
				</td>
			  </tr>
		    </tbody>
		</table>
	</div>
</div>