<div class="filaTitulo">&nbsp;&nbsp;<i class="glyphicon glyphicon-list-alt"></i> Sub Seccion Nro 1</div>
<div class="frm_fila">
	<div class="frm_celda frm_cel_1a">
		<div class="frm_etiqueta">Monto :</div>
		<div class="frm_campo"><input type="text" name="solicitud.monto" ng-model="baseIPConfig.data.solicitud.monto" nx-regla="decimal" nx-max-entero="3" nx-max-decimal="12" class="form-control input-sm" ></div>
	</div><div class="frm_celda frm_cel_1b">
		<div class="frm_etiqueta">Valor Numérico :</div>
		<div class="frm_campo"><input type="number" name="solicitud.valoNumerico" ng-model="baseIPConfig.data.solicitud.valoNumerico" class="form-control input-sm" ></div>
	</div>
</div>
<div class="filaTitulo">&nbsp;&nbsp;<i class="glyphicon glyphicon-list-alt"></i> Sub Seccion Nro 2</div>
<div class="frm_fila">
	<div class="frm_celda frm_cel_1a">
		<div class="frm_etiqueta">Valor Numérico 2 :</div>
		<div class="frm_campo"><input type="number" name="solicitud.valorNumericoB" ng-model="baseIPConfig.data.solicitud.valorNumericoB" class="form-control input-sm" ></div>
	</div><div class="frm_celda frm_cel_1b">
		<div class="frm_etiqueta">Valor Numérico C :</div>
		<div class="frm_campo">{{baseIPConfig.data.solicitud.valorNumericoC}}</div>
	</div>
</div>
