<div class="filaTitulo">&nbsp;&nbsp;<i class="glyphicon glyphicon-list-alt"></i> Sub Seccion Nro 1</div>
<div class="frm_fila">
	<div class="frm_celda frm_cel_1a">
		<div class="frm_etiqueta">Código de Solicitud :</div>
		<div class="frm_campo"><input type="number" name="solicitud.codigoSolicitud" ng-model="baseIPConfig.data.solicitud.codigoSolicitud" class="form-control input-sm" ></div>
	</div><div class="frm_celda frm_cel_1b">
		<div class="frm_etiqueta">Evento :</div>
		<div class="frm_campo"><input type="text" name="solicitud.evento" ng-model="baseIPConfig.data.solicitud.evento" class="form-control input-sm" ></div>
	</div>
</div>
