<script type="text/javascript" src="controlador/atributo.js"></script>
<div ng-controller="atributo" style="padding-top: 5px;">
	<div class="row">
		<div class="col-md-10">
			<ol class="breadcrumb">
				<li><strong>{{clasePadre.nombre | uppercase}}</strong></li>
				<li>GESTIONAR ATRIBUTOS</li>
			</ol>
		</div>
		<div class="col-md-2">
			<ol class="breadcrumb" style="text-align: right;">
			  <li><a class="btn btn-info btn-sm" ng-click="$parent.instanciar()"><i class="glyphicon glyphicon-align-justify"></i> LISTAR CLASES</a></li>
			</ol>
		</div>
	</div>
	<div class="show-grid" ng-show="vista === 'lista'">
		<div class="panel panel-default">
		  <div class="panel-heading"><strong>Listado de Atributos</strong></div>
		  <table class="table">
			<thead>
			  <tr>
				<th><input type="text" ng-model="buscar.cod_atributo" placeholder="Código" class="form-control input-sm"></th>
				<th><input type="text" ng-model="buscar.nombre" placeholder="Nombre" class="form-control input-sm"></th>
				<th><input type="text" ng-model="buscar.tipo" placeholder="Tipo" class="form-control input-sm"></th>
				<th><input type="text" ng-model="buscar.web_nombre" placeholder="Web Nombre" class="form-control input-sm"></th>
				<th width="120px">Opción</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="item in data.ATRIBUTO | orderBy: 'cod_atributo' | filter:buscar" ng-show="pag.get($index) == pag.actual">
				<td>{{item.cod_atributo}}</td>
				<td>{{item.nombre}}</td>
				<td>{{item.tipo}}</td>
				<td>{{item.web_nombre}}</td>
				<td>
					<a class="btn btn-danger btn-sm" ng-click="eliminar(item.cod_atributo)" tooltip="Eliminar"><i class="glyphicon glyphicon-trash"></i></a>
					<a class="btn btn-primary btn-sm" ng-click="editarCargar(item.cod_atributo)" tooltip="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
				</td>
			  </tr>
			  <tr>
				<td colspan="8"><a class="btn btn-primary btn-sm" ng-click="nuevo()" tooltip="Nuevo"><i class="glyphicon glyphicon-plus"></i></a></td>
			  </tr>
			</tbody>
		  </table>
		</div>
		<pagination total-items="pag.total" ng-model="pag.actual" max-size="pag.max" class="pagination-sm" boundary-links="true" items-per-page="pag.itemxPagina" style="margin: 0px 0;"></pagination>
	</div>
	<div class="row" ng-show="vista === 'mantener'">
		<div class="col-md-8">
			<ol class="breadcrumb">
				<li><strong>{{clasePadre.nombre | uppercase}}</strong></li>
				<li>GESTIONAR ATRIBUTOS</li>
				<li><span ng-show="esEdicion">ATRIBUTO "{{cargado.ATR_nombre | uppercase}}"</span><span ng-show="!esEdicion">NUEVO ATRIBUTO</span></li>
			</ol>
		</div>
		<div class="col-md-4">
			<ol class="breadcrumb" style="text-align: right;">
			  <li><a class="btn btn-info btn-sm" ng-click="instanciar()"><i class="glyphicon glyphicon-align-justify"></i> LISTAR ATRIBUTOS</a></li>
			  <li class="form-inline"><input type="checkbox" ng-model="cargado.esDetallado" tooltip="Mostrar campos adicionales?" class="form-control input-sm" style="width:30px"></li>
			</ol>
		</div>
	</div>
	<div class="container-fluid show-grid" ng-show="vista === 'mantener'">
		<div class="panel panel-default">
		  <div class="panel-heading"><span ng-show="esEdicion">Editar</span><span ng-show="!esEdicion">Registrar</span></div>
		  <form name="FRM_ATRIBUTO" novalidate>
		  <table class="table" style="margin-bottom: 0px;">
			<tbody>
			  <tr>
				<th>Codigo (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="number" ng-model="cargado.ATR_cod_atributo" name="ATR_cod_atributo" ng-disabled="esEdicion" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Inf Nombre :</th>
				<td><input type="text" ng-model="cargado.ATR_inf_nombre" class="form-control input-sm" ng-change="formatearNombres()"></td>
			  </tr>
			  <tr>
				<th>Nombre (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.ATR_nombre" name="ATR_nombre" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Tipo (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'>
					<input type="text" autocomplete="off" name="ATR_tipo" class="form-control input-sm"
						data-typeahead-editable="false" 
						data-ng-model="cargado.ATR_tipo" 
						data-typeahead="tipoDato for tipoDato in tipoDatos | filter:$viewValue | limitTo:8"
					required>
				</td>
			  </tr>
			  <tr>
				<th>Es Lista (*) :</th>
				<td><input type="checkbox" ng-model="cargado.ATR_flg_lista" name="ATR_flg_lista" class="form-control input-sm" style="width:30px" ng-true-value="'1'" ng-false-value="'0'"></td>
			  </tr>
			  <tr>
				<th>Web Nombre :</th>
				<td><input type="text" ng-model="cargado.ATR_web_nombre" class="form-control input-sm"></td>
			  </tr>
			  <tr ng-show="cargado.esDetallado">
				<th>Web Formato :</th>
				<td><input type="text" ng-model="cargado.ATR_web_formato" class="form-control input-sm"></td>
			  </tr>
			  <tr ng-show="cargado.esDetallado">
				<th>Inf Descripcion :</th>
				<td><input type="text" ng-model="cargado.ATR_inf_descripcion" class="form-control input-sm"></td>
			  </tr>
			  <tr ng-show="cargado.esDetallado">
				<th>Inf Autor :</th>
				<td><input type="text" ng-model="cargado.ATR_inf_autor" class="form-control input-sm"></td>
			  </tr>
			  <tr ng-show="cargado.esDetallado">
				<th>Web Mensaje Validación :</th>
				<td><input type="text" ng-model="cargado.ATR_web_men_validacion" class="form-control input-sm"></td>
			  </tr>
			  <tr ng-show="cargado.esDetallado">
				<th>Web Formulario Validación :</th>
				<td><input type="text" ng-model="cargado.ATR_web_for_validacion" class="form-control input-sm"></td>
			  </tr>
			  <tr class="warning">
				<th>Tiene SQL :</th>
				<td><input type="checkbox" ng-model="cargado.FLG_sql" ng-disabled="cargado.FLG_sqlDesabilitado" style="width:30px" class="form-control input-sm"></td>
			  </tr>
			  <tr class="warning" ng-show="cargado.FLG_sql">
				<th>Código de Tabla (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'>
					<select class="form-control input-sm"
						ng-model="cargado.ADB_cod_tabla"
						ng-options="obj.cod_tabla as obj.nombre for obj in data.TABLA | orderBy: 'nombre'"
						name="ADB_cod_tabla"
					ng-required="cargado.FLG_sql"></select>
				</td>
			  </tr>
			  <tr class="warning" ng-show="cargado.FLG_sql">
				<th>Campo (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.ADB_campo" name="ADB_campo" class="form-control input-sm" ng-required="cargado.FLG_sql"></td>
			  </tr>
			  <tr class="warning" ng-show="cargado.FLG_sql">
				<th>Tipo (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.ADB_tipo" name="ADB_tipo" class="form-control input-sm" ng-required="cargado.FLG_sql"></td>
			  </tr>
			  <tr class="warning" ng-show="cargado.FLG_sql">
				<th>Longitud :</th>
				<td><input type="number" ng-model="cargado.ADB_longitud" class="form-control input-sm"></td>
			  </tr>
			  <tr class="warning" ng-show="cargado.FLG_sql">
				<th>Precision :</th>
				<td><input type="number" ng-model="cargado.ADB_precision" class="form-control input-sm"></td>
			  </tr>
			  <tr class="warning" ng-show="cargado.FLG_sql">
				<th>Llave Primaria (*) :</th>
				<td><input type="checkbox" ng-model="cargado.ADB_PK" name="ADB_PK" class="form-control input-sm" style="width:30px" ng-true-value="'1'" ng-false-value="'0'"></td>
			  </tr>
			  <tr class="warning" ng-show="cargado.FLG_sql">
				<th>Obligatorio (*) :</th>
				<td><input type="checkbox" ng-model="cargado.ADB_obligatorio" name="ADB_obligatorio" class="form-control input-sm" style="width:30px" ng-true-value="'1'" ng-false-value="'0'"></td>
			  </tr>
			  <tr class="warning" ng-show="cargado.FLG_sql && cargado.esDetallado">
				<th>FK Tabla :</th>
				<td><input type="number" ng-model="cargado.ADB_fk_tabla" class="form-control input-sm"></td>
			  </tr>
			  <tr class="warning" ng-show="cargado.FLG_sql && cargado.esDetallado">
				<th>FK Es uno a muchos :</th>
				<td><input type="checkbox" ng-model="cargado.ADB_fk_uno_mucho" class="form-control input-sm" style="width:30px" ng-true-value="'1'" ng-false-value="'0'"></td>
			  </tr>
			  <tr class="warning" ng-show="cargado.FLG_sql && cargado.esDetallado">
				<th>Foranea Busqueda por Nombre :</th>
				<td><input type="text" ng-model="cargado.ADB_fn_bus_nombre" class="form-control input-sm"></td>
			  </tr>
			  <tr class="warning" ng-show="cargado.FLG_sql && cargado.esDetallado">
				<th>Foranea Busqueda Catálogo :</th>
				<td><input type="text" ng-model="cargado.ADB_fn_bus_catalogo" class="form-control input-sm"></td>
			  </tr>
			  <tr class="warning" ng-show="cargado.FLG_sql && cargado.esDetallado">
				<th>Valor por Defecto :</th>
				<td><input type="text" ng-model="cargado.ADB_val_defecto" class="form-control input-sm"></td>
			  </tr>
			  <tr class="warning" ng-show="cargado.FLG_sql && cargado.esDetallado">
				<th>FK Campo :</th>
				<td><input type="number" ng-model="cargado.ADB_fk_campo" class="form-control input-sm"></td>
			  </tr>
			  <tr>
				<td colspan="2">
					<a class="btn btn-success btn-sm" ng-click="guardar()"><i class="glyphicon glyphicon-floppy-save"></i> <span ng-show="esEdicion">GUARDAR</span><span ng-show="!esEdicion">REGISTRAR</span></a>
					<a class="btn btn-info btn-sm" ng-click="instanciar()"><i class="glyphicon glyphicon-align-justify"></i> LISTAR ATRIBUTOS</a>
				</td>
			  </tr>
			</tbody>
		  </table>
		  </form>
		</div>
	</div>
</div>