<script type="text/javascript" src="controlador/clase.js"></script>
<div ng-controller="clase" style="padding-top: 5px;">
	<alert type="danger" ng-show="data.TABLA.length==0">Debes registrar "Tablas" antes de trabajar Clases</alert>
	<div class="show-grid" ng-show="vista === 'lista'">
		<div class="panel panel-default">
		  <div class="panel-heading"><strong>Listado de Clases</strong></div>
		  <table class="table">
			<thead>
			  <tr>
				<th><input type="text" ng-model="buscar.cod_clase" placeholder="Código" class="form-control input-sm"></th>
				<th><input type="text" ng-model="buscar.nombre" placeholder="Nombre" class="form-control input-sm"></th>
				<th align="right">Opción</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="item in data.CLASE | orderBy: 'cod_clase' | filter:buscar" ng-show="pag.get($index) == pag.actual">
				<td>{{item.cod_clase}}</td>
				<td>{{item.nombre}}</td>
				<td align="right">
					<a class="btn btn-danger btn-sm" ng-click="eliminar(item.cod_clase)" tooltip="Eliminar"><i class="glyphicon glyphicon-trash"></i></a>
					<a class="btn btn-primary btn-sm" ng-click="editarCargar(item.cod_clase)" tooltip="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="btn btn-info btn-sm" ng-click="gestionarAtributos(item.cod_clase)" tooltip="Gestionar Atributos"><i class="glyphicon glyphicon-tag"></i></a>
				</td>
			  </tr>
			  <tr>
				<td colspan="4"><a class="btn btn-primary btn-sm" ng-click="nuevo()" tooltip="Nuevo"><i class="glyphicon glyphicon-plus"></i></a></td>
			  </tr>
			</tbody>
		  </table>
		</div>
		<pagination total-items="pag.total" ng-model="pag.actual" max-size="pag.max" class="pagination-sm" boundary-links="true" items-per-page="pag.itemxPagina" style="margin: 0px 0;"></pagination>
	</div>
	<div class="show-grid" ng-show="vista === 'mantener'">
		<div class="panel panel-default">
		  <div class="panel-heading"><span ng-show="esEdicion">Editar</span><span ng-show="!esEdicion">Registrar</span></div>
		  <form name="FRM_CLASE">
		  <table class="table">
			<tbody>
			  <tr>
				<th>Codigo (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.CLA_cod_clase" name="CLA_cod_clase" ng-disabled="esEdicion" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Nombre (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.CLA_nombre" name="CLA_nombre" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Nivel :</th>
				<td><input type="number" ng-model="cargado.CLA_nivel" class="form-control input-sm"></td>
			  </tr>
			  <tr>
				<th>Tabla :</th>
				<td>
					<select class="form-control input-sm"
						ng-model="cargado.CLA_cod_tabla"
						ng-options="obj.cod_tabla as obj.nombre for obj in data.TABLA | orderBy: 'nombre'"
						name="CLA_cod_tabla"></select>	
				</td>
			  </tr>
			  
			  <tr>
				<td colspan="2">
					<a class="btn btn-success btn-sm" ng-click="guardar()"><i class="glyphicon glyphicon-floppy-save"></i> <span ng-show="esEdicion">GUARDAR</span><span ng-show="!esEdicion">REGISTRAR</span></a>
					<a class="btn btn-info btn-sm" ng-click="instanciar()"><i class="glyphicon glyphicon-align-justify"></i> LISTAR</a>
				</td>
			  </tr>
			</tbody>
		  </table>
		  </form>
		</div>
	</div>
	<div ng-include="'atributo.html'" ng-show="vista === 'atributos'"></div>
</div>