<script type="text/javascript" src="controlador/consulta.js"></script>
<div ng-controller="consulta" style="padding-top: 5px;">
	<div class="container-fluid show-grid" ng-show="vista === 'lista'">
		<div class="panel panel-default">
		  <div class="panel-heading">Listado de Consultas</div>
		  <table class="table">
			<thead>
			  <tr>
				<th><input type="text" ng-model="buscar.cod_consulta" placeholder="Código" class="form-control input-sm"></th>
				<th><input type="text" ng-model="buscar.nombre" placeholder="Nombre" class="form-control input-sm"></th>
				<th><input type="text" ng-model="buscar.sql_ale_sto_procedure" placeholder="Nombre SP" class="form-control input-sm"></th>
				<th>Opción</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="item in data.CONSULTA | orderBy: 'cod_consulta' | filter:buscar" ng-show="pag.get($index) == pag.actual">
				<td>{{item.cod_consulta}}</td>
				<td>{{item.nombre}}</td>
				<td>{{item.sql_ale_sto_procedure}}</td>
				<td>
					<a class="btn btn-danger btn-sm" ng-click="eliminar(item.cod_consulta)" tooltip="Eliminar"><i class="glyphicon glyphicon-trash"></i></a>
					<a class="btn btn-primary btn-sm" ng-click="editarCargar(item.cod_consulta)" tooltip="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
				</td>
			  </tr>
			  <tr>
				<td colspan="4">
					<a class="btn btn-primary btn-sm" ng-click="nuevo()" tooltip="Nuevo"><i class="glyphicon glyphicon-plus"></i></a>
				</td>
			  </tr>
			</tbody>
		  </table>
		</div>
		<pagination total-items="pag.total" ng-model="pag.actual" max-size="pag.max" class="pagination-sm" boundary-links="true" items-per-page="pag.itemxPagina" style="margin: 0px 0;"></pagination>
	</div>
	<div class="container-fluid show-grid" ng-show="vista === 'mantener'">
		<div class="panel panel-default">
		  <div class="panel-heading"><span ng-show="esEdicion">Editar</span><span ng-show="!esEdicion">Registrar</span></div>
		  <form name="FRM_CONSULTA" novalidate>
		  <table class="table" style="margin-bottom: 0px;">
			<tbody>
			  <tr>
				<th>Codigo (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.CON_cod_consulta" name="CON_cod_consulta" ng-disabled="esEdicion" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Nombre (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.CON_nombre" name="CON_nombre" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Nombre SP (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.CON_sql_ale_sto_procedure" name="CON_sql_ale_sto_procedure" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Java Paquete (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.CON_jav_paquete" name="CON_jav_paquete" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Java Interface (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.CON_jav_interface" name="CON_jav_interface" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Tablas :</th>
				<td>
				  <table class="table">
					<thead>
					  <tr>
						<th>&nbsp;</th>
						<th>Tabla (*) :</th>
						<th>Es primaria</th>
						<th>Es uno a muchos</th>
						<th>Opciones</th>
					  </tr>
					</thead>
					<tbody>
					  <tr ng-repeat="consultaTabla in consultaTablas">
						<td>{{$index+1}}</td>
						<td><select class="form-control input-sm" ng-model="consultaTabla.cod_tabla" ng-options="item.cod_tabla as item.nombre for item in data.TABLA | orderBy: 'nombre'" ng-change="cargarSeleccionadas()"></select></td>
						<td><input type="radio" ng-model="$parent.consultaTablaEsFK" name="consultaTablaEsFK" value="{{$index}}" class="form-control input-sm" style="width:30px"></td>
						<td><input type="checkbox" ng-model="consultaTabla.flg_uno_muchos" ng-true-value="'1'" ng-false-value="'0'" class="form-control input-sm" style="width:30px"></td>
						<td width="220px">
							<a class="btn btn-primary btn-sm" ng-click="tablaEliminar($index)" tooltip="Eliminar"><i class="glyphicon glyphicon-minus"></i></a>&nbsp;&nbsp;
						</td>
					  </tr>
					  <tr>
						<td colspan="5"><a class="btn btn-primary btn-sm" ng-click="tablaAgregar()"><i class="glyphicon glyphicon-plus"></i></a></td>
					  </tr>
					</tbody>
				  </table>
				</td>
			  </tr>
			  <tr>
				<th>Atributos :</th>
				<td>
				  <table class="table">
					<thead>
					  <tr>
						<th>&nbsp;</th>
						<th>Tabla</th>
						<th>Atributo</th>
						<th>Es condición</th>
						<th>Opciones</th>
					  </tr>
					</thead>
					<tbody>
					  <tr ng-repeat="consultaAtributo in consultaAtributos">
						<td>{{$index+1}}</td>
						<td><select class="form-control input-sm" ng-model="consultaAtributo.cod_tabla" ng-options="item.cod_tabla as item.nombre for item in tablasSeleccionadas | orderBy: 'nombre'" ng-change="cargarAtributos($index)"></select></td>
						<td><select class="form-control input-sm" ng-model="consultaAtributo.cod_atributo" ng-options="item.cod_atributo as item.nombre for item in listaAtributos[consultaAtributo.cod_tabla] | orderBy: 'nombre'"></select></td>
						<td><input type="checkbox" ng-model="consultaAtributo.flg_condicion" ng-true-value="'1'" ng-false-value="'0'" class="form-control input-sm" style="width:30px"></td>
						<td width="220px">
							<a class="btn btn-primary btn-sm" ng-click="atributoEliminar($index)" tooltip="Eliminar"><i class="glyphicon glyphicon-minus"></i></a>&nbsp;&nbsp;
						</td>
					  </tr>
					  <tr>
						<td colspan="5"><a class="btn btn-primary btn-sm" ng-click="atributoAgregar()"><i class="glyphicon glyphicon-plus"></i></a></td>
					  </tr>
					</tbody>
				  </table>
				</td>
			  </tr>
			  <tr>
				<td colspan="2">
					<a class="btn btn-success btn-sm" ng-click="guardar()"><i class="glyphicon glyphicon-floppy-save"></i> <span ng-show="esEdicion">GUARDAR</span><span ng-show="!esEdicion">REGISTRAR</span></a>
					<a class="btn btn-info btn-sm" ng-click="instanciar()"><i class="glyphicon glyphicon-align-justify"></i> LISTAR</a>
				</td>
			  </tr>
			</tbody>
		  </table>
		  </form>
		</div>
	</div>
</div>