<script type="text/javascript" src="controlador/procesogestionardetalle.js"></script>
<div ng-controller="procesogestionardetalle" style="padding-top: 5px;">
	<div class="row">
		<div class="col-md-8">
			<ol class="breadcrumb">
				<li><strong>{{data.PROCESO_CARGADO.nombre | uppercase}}</strong></li>
				<li>DETALLE DE SOLICITUD</li>
			</ol>
		</div>
		<div class="col-md-4">
			<ol class="breadcrumb" style="text-align: right;">
			  <li><a class="btn btn-primary btn-sm" ng-model="editor.esEdicion" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">MODO EDITOR</a></li>
			  <li><a class="btn btn-info btn-sm" ng-click="$parent.instanciar()"><i class="glyphicon glyphicon-align-justify"></i> LISTAR PROCESOS</a></li>
			</ol>
		</div>
	</div>
	<hr>
	<table style="width: 100%;">
		<tr>
			<td width="20%" style="border: 1px solid #ccc; padding: 5px;" valign="top" ng-show="editor.esEdicion">
				<div>
					<accordion close-others="false">
						<accordion-group is-open="true">
							<accordion-heading>Configuración</accordion-heading>
							<table class="table">
								<tbody>
									<tr>
										<td><strong>Tipo de Vista :</strong><br>
											<div class="btn-group">
						        				<label class="btn btn-primary btn-sm" ng-model="editor.tipoVista" btn-radio="'H'"> Acordeon </label>
						        				<label class="btn btn-primary btn-sm" ng-model="editor.tipoVista" btn-radio="'V'"> Tabs </label>
						        			</div>
										</td>
									</tr>
									<tr>
										<td><strong>Widgets :</strong><br>
											<div class="btn-group">
						       					<label class="btn btn-primary btn-sm" ng-model="editor.seccionHistorial" btn-checkbox tooltip="Historial de Tareas"> <i class="glyphicon glyphicon-align-justify"></i> </label>
						        				<label class="btn btn-primary btn-sm" ng-model="editor.seccionDocumentos" btn-checkbox tooltip="Documentos"> <i class="glyphicon glyphicon-download-alt"></i> </label>
						        				<label class="btn btn-primary btn-sm" ng-model="editor.seccionObservaciones" btn-checkbox tooltip="Observaciones"> <i class="glyphicon glyphicon-comment"></i> </label>
						        			</div>
										</td>
									</tr>
								</tbody>
							</table>
						</accordion-group>
					</accordion>
					<accordion close-others="false">
						<accordion-group is-open="true">
							<accordion-heading>Atributos</accordion-heading>
							<select class="form-control input-sm" ng-model="atrBuscar.cod_tabla" ng-options="tabla.cod_tabla as tabla.nombre for tabla in consulta.tablas | orderBy: 'nombre'">
								<option></option>
							</select>
							<input type="text" ng-model="atrBuscar.nombre" placeholder="Nombre" class="form-control input-sm">
							<div class="simpleDemo" style="max-height: 200px; overflow : auto; border: 1px solid #ccc;">
								<ul dnd-list="consulta.atributos">
							 	    <li ng-repeat="item in consulta.atributos | filter:atrBuscar"
							 	    	dnd-draggable="item"
								        dnd-effect-allowed="move"
								        dnd-selected="consulta.seleccionado = item"
								        dnd-allowed-types="['principal']"
								        dnd-type="'atributos'"
								        ng-class="{'selected': consulta.seleccionado === item}"
								    >
								        {{item.nombre}} <span class="referenciaClase">({{item.cla_nombre}})</span>
								        <div class="tipoAtributo" title="{{item.web_tipo}}">({{tipoClase[item.web_tipo]}})</div>
								    </li>
								</ul>
							</div>
							<a class="btn btn-primary btn-sm" ng-click="objAtributo.abrirListado()"><i class="glyphicon glyphicon-plus"></i></a>
						</accordion-group>
					</accordion>
				</div>
			</td>
			<td width="80%" style="border: 1px solid #ccc; padding: 5px;" valign="top" class="simpleDemoB">
				<div ng-include="'plantilla/inc_detallesolicitud_titulo.html'"></div>
				<div ng-include="'plantilla/inc_editor.html'"></div>
				<div ng-include="'plantilla/inc_detallesolicitud_botonera.html'"></div>
			</td>
		</tr>
	</table>
	<hr>
	<div class="well" style=" padding: 10px;  margin-bottom: 0px; " ng-show="editor.esEdicion">
		<a class="btn btn-success btn-sm" ng-click="registrarInicio()"><i class="glyphicon glyphicon-floppy-save"></i> REGISTRAR DATOS</a>
	</div>
</div>