<script type="text/javascript" src="controlador/procesogestionarinicio.js"></script>
<div ng-controller="procesogestionarinicio" style="padding-top: 5px;">
	<div class="row">
		<div class="col-md-8">
			<ol class="breadcrumb">
				<li><strong>{{data.PROCESO_CARGADO.nombre | uppercase}}</strong></li>
				<li>INICIAR SOLICITUD</li>
			</ol>
		</div>
		<div class="col-md-4">
			<ol class="breadcrumb" style="text-align: right;">
			  <li><a class="btn btn-primary btn-sm" ng-model="config.esEdicion" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">MODO EDITOR</a></li>
			  <li><a class="btn btn-info btn-sm" ng-click="$parent.instanciar()"><i class="glyphicon glyphicon-align-justify"></i> LISTAR PROCESOS</a></li>
			</ol>
		</div>
	</div>
	<hr>
	<div ng-include="'plantilla/inc_iniciarproceso_titulo.html'"></div>
	<div class="panel panel-default" ng-show="config.esEdicion">
		<div class="panel-heading"><strong>Datos Internos</strong></div>
		<div class="form-inline" ng-show="config.esEdicion">
			  <table class="table">
				<thead>
				  <tr>
					<th>Atributo</th>
					<th>Valor por Omisión</th>
					<th>Opciones</th>
				  </tr>
				</thead>
				<tbody>
				  <tr ng-repeat="atributoItem in interno.lista">
					<td>{{atributoItem.atr_nombre}} <em>({{atributoItem.cla_nombre}})</em></td>
					<td><input type="text" ng-model="atributoItem.val_omision" class="form-control input-sm" style="width:100%" placeholder="{{atributoItem.val_omision}}"></td>
					<td>
						<a class="btn btn-danger btn-sm" ng-click="interno.eliminar($index)" tooltip="Eliminar"><i class="glyphicon glyphicon-minus"></i></a>
					</td>
				  </tr>
				</tbody>
			  </table>
			<input type="text" autocomplete="off" class="form-control input-sm"
				data-typeahead-editable="true" 
				data-ng-model="interno.nuevoAtributo" 
				data-typeahead="atributo as atributo.busqueda for atributo in atributo.lista | filter:{busqueda:$viewValue} | limitTo:8"
			>
			<a class="btn btn-primary btn-sm" ng-click="interno.agregar()" tooltip="Agregar"><i class="glyphicon glyphicon-share-alt"></i></a>
			<a class="btn btn-primary btn-sm" ng-click="interno.nuevo()" tooltip="Agregar Nuevo Elemento"><i class="glyphicon glyphicon-plus-sign"></i></a>		
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading"><strong>Datos de Inicio</strong></div>
		<div class="simpleDemoB">
			<div ng-repeat="subSeccionItem in subSeccion.lista" ng-init="subSeccionItem.index = $index">
				<div class="filaTitulo">
					&nbsp;&nbsp;
					<i class="glyphicon glyphicon-list-alt"></i> 
					{{subSeccionItem.nombre}}
					<i class="glyphicon glyphicon-edit seccionEditar" 
						ng-click="subSeccion.actual = $index" 
						popover-template="'plantilla/inc_editor_subseccion_editor.html'" 
						popover-title="Editar" 
						popover-placement="right" style="color: brown;"
						eid="subSeccionEditar_{{$index}}"
						ng-show="config.esEdicion"></i>
				</div>
				<div ng-include="'procesogestionarinicio_atributo.html'"></div>
			</div>
			<div ng-show="!config.esEdicion">&nbsp;</div>
			<div class="filaTitulo" ng-show="config.esEdicion">
				&nbsp;&nbsp;
				<a ng-click="subSeccion.agregar()"><i class="glyphicon glyphicon-plus"></i></a>
			</div>
		</div>
	</div>
	<div ng-include="'plantilla/inc_iniciarproceso_botonera.html'" ng-show="!config.esEdicion"></div>
	<hr>
	<div class="well" style=" padding: 10px;  margin-bottom: 0px; " ng-show="config.esEdicion">
		<a class="btn btn-success btn-sm" ng-click="registrarInicio()"><i class="glyphicon glyphicon-floppy-save"></i> REGISTRAR DATOS</a>
	</div>
</div>