<script type="text/javascript" src="controlador/proceso.js"></script>
<div ng-controller="proceso" style="padding-top: 5px;">
	<div class="container-fluid show-grid" ng-show="vista === 'lista'">
		<div class="panel panel-default">
		  <div class="panel-heading">Listado de procesos</div>
		  <table class="table">
			<thead>
			  <tr>
				<th><input type="text" ng-model="buscar.COD_PROCESO" placeholder="Código" class="form-control input-sm"></th>
				<th><input type="text" ng-model="buscar.INF_NOMBRE" placeholder="Nombre" class="form-control input-sm"></th>
				<th>Opción</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="item in data.PROCESO | orderBy: 'COD_PROCESO' | filter:buscar" ng-show="pag.get($index) == pag.actual">
				<td>{{item.COD_PROCESO}}</td>
				<td>{{item.INF_NOMBRE}}</td>
				<td> 
					<a class="btn btn-danger btn-sm" ng-click="eliminar(item.COD_PROCESO)" tooltip="Eliminar"><i class="glyphicon glyphicon-trash"></i></a>
					<a class="btn btn-primary btn-sm" ng-click="editarCargar(item.COD_PROCESO)" tooltip="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="btn btn-info btn-sm" ng-click="gestionarAtributos(item.COD_PROCESO,item.INF_NOMBRE)" tooltip="Gestionar Atributos"><i class="glyphicon glyphicon-tag"></i></a>
				</td>
			  </tr>
			  <tr>
				<td colspan="3"><a class="btn btn-primary btn-sm" ng-click="nuevo()" tooltip="Nuevo"><i class="glyphicon glyphicon-plus"></i></a></td>
			  </tr>
			</tbody>
		  </table>
		</div>
		<pagination total-items="pag.total" ng-model="pag.actual" max-size="pag.max" class="pagination-sm" boundary-links="true" items-per-page="pag.itemxPagina" style="margin: 0px 0;"></pagination>
	</div>
	<div class="container-fluid show-grid" ng-show="vista === 'mantener'">
		<div class="panel panel-default">
		  <div class="panel-heading"><span ng-show="esEdicion">Editar</span><span ng-show="!esEdicion">Registrar</span></div>
		  <form name="FRM_PROCESO" novalidate>
		  <table class="table">
			<tbody>
			  <tr>
				<th>Codigo (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="number" ng-model="cargado.PRO_COD_PROCESO" name="PRO_COD_PROCESO" ng-keyup="asignarFormato()" class="form-control input-sm" ng-disabled="esEdicion" required></td>
			  </tr>
			  <tr>
				<th>Nombre (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.PRO_INF_NOMBRE" name="PRO_INF_NOMBRE" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Unidad de Negocio (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'>
					<select class="form-control input-sm"
						ng-model="cargado.PRO_COD_UNI_NEGOCIO"
						ng-options="obj.COD_UNI_NEGOCIO as obj.NOMBRE for obj in data.MAE_UNI_NEGOCIO| orderBy: 'NOMBRE'"
						name="PRO_COD_UNI_NEGOCIO" required></select></td>
			  </tr>
			  <tr>
				<th>Producto (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><select class="form-control input-sm"
						ng-model="cargado.PRO_COD_PRODUCTO"
						ng-options="obj.COD_PRODUCTO as obj.NOMBRE for obj in data.MAE_PRODUCTO | orderBy: 'NOMBRE' | filter : {COD_UNI_NEGOCIO : cargado.PRO_COD_UNI_NEGOCIO}"
						name="PRO_COD_PRODUCTO" required></select></td>
			  </tr>
			  <tr>
				<th>Sufijo :</th>
				<td><input type="text" ng-model="cargado.PRO_INF_SUFIJO" class="form-control input-sm"></td>
			  </tr>
			  <tr>
				<th>BPM Plantilla Proceso (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.PRO_BPM_PLANTILLA" name="PRO_BPM_PLANTILLA" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Nro Actividad Inicio(*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="number" ng-model="cargado.PRO_BPM_ACT_INICIO" name="PRO_BPM_ACT_INICIO" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Paquete (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.PRO_JAV_PAQUETE" name="PRO_JAV_PAQUETE" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Clase (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.PRO_JAV_CLASE" name="PRO_JAV_CLASE" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Aleas Web :</th>
				<td><input type="text" ng-model="cargado.PRO_JAV_ALE_PROCESO" class="form-control input-sm"></td>
			  </tr>
			  <tr>
				<th>Data Source (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'>
					<select class="form-control input-sm"
						ng-model="cargado.PRO_JAV_DATASOURCE"
						ng-options="obj.COD_DATASOURCE as obj.DESCRIPCION for obj in data.DATASOURCE | orderBy: 'DESCRIPCION'"
						name="PRO_JAV_DATASOURCE" required></select></td>
			  </tr>
			  <tr>
				<th>Consulta de Resumen (*) :</th>
				<td class="form-inline form-group" show-errors='{showSuccess: true}'>
					<select class="form-control input-sm"
						ng-model="cargado.PRO_COD_CON_RESUMEN"
						ng-options="obj.COD_CONSULTA as obj.NOMBRE for obj in data.CONSULTA | orderBy: 'NOMBRE'"
						name="PRO_COD_CON_RESUMEN" required></select>
					<button class="btn btn-info btn-sm" ng-click="cargarModulo('proyectocargado','consulta',cargado.PRO_COD_CON_RESUMEN)" tooltip="Editar"><i class="glyphicon glyphicon-edit"></i></button>
				</td>
			  </tr>
			  <tr>
				<th>Consulta de Detalle (*) :</th>
				<td class="form-inline form-group" show-errors='{showSuccess: true}'>
					<select class="form-control input-sm"
						ng-model="cargado.PRO_COD_CON_DETALLE"
						ng-options="obj.COD_CONSULTA as obj.NOMBRE for obj in data.CONSULTA | orderBy: 'NOMBRE'"
						name="PRO_COD_CON_DETALLE" required></select>
					<button class="btn btn-info btn-sm" ng-click="cargarModulo('proyectocargado','consulta',cargado.PRO_COD_CON_DETALLE)" tooltip="Editar"><i class="glyphicon glyphicon-edit"></i></button>
				</td>
			  </tr>
			  <tr>
				<th>Sequecial :</th>
				<td><input type="text" ng-model="cargado.PRO_JAV_DOC_SEQUENCE" class="form-control input-sm"></td>
			  </tr>
			  <tr>
				<td colspan="2">
					<a class="btn btn-success btn-sm" ng-click="guardar()"><i class="glyphicon glyphicon-floppy-save"></i> <span ng-show="esEdicion">GUARDAR</span><span ng-show="!esEdicion">REGISTRAR</span></a>
					<a class="btn btn-info btn-sm" ng-click="instanciar()"><i class="glyphicon glyphicon-align-justify"></i> LISTAR</a>
				</td>
			  </tr>
			</tbody>
		  </table>
		  </form>
		</div>
	</div>
	<div ng-include="'procesoatributoinicio.html'" ng-show="vista === 'atributos'"></div>
</div>