<script type="text/javascript" src="controlador/proceso.js"></script>
<div ng-controller="proceso" style="padding-top: 5px;">
	<alert type="danger" ng-show="data.CONSULTA.length==0">Debes registrar "Consultas" antes de trabajar Procesos</alert>
	<div class="show-grid" ng-show="vista === 'lista'">
		<div class="panel panel-default">
		  <div class="panel-heading"><strong>Listado de procesos</strong></div>
		  <table class="table">
			<thead>
			  <tr>
				<th><input type="text" ng-model="buscar.cod_proceso" placeholder="Código" class="form-control input-sm"></th>
				<th><input type="text" ng-model="buscar.nombre" placeholder="Nombre" class="form-control input-sm"></th>
				<th align="right">Opción</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="item in data.PROCESO | orderBy: 'cod_proceso' | filter:buscar" ng-show="pag.get($index) == pag.actual">
				<td>{{item.cod_proceso}}</td>
				<td>{{item.nombre}}</td>
				<td align="right"> 
					<a class="btn btn-danger btn-sm" ng-click="eliminar(item.cod_proceso)" tooltip="Eliminar"><i class="glyphicon glyphicon-trash"></i></a>
					<a class="btn btn-primary btn-sm" ng-click="editarCargar(item.cod_proceso)" tooltip="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="btn btn-info btn-sm" ng-click="gestionarInicio(item.cod_proceso)" tooltip="Gestionar Inicio de Solicitud"><i class="glyphicon glyphicon-play"></i></a>
					<a class="btn btn-info btn-sm" ng-click="gestionarDetalle(item.cod_proceso)" tooltip="Gestionar Detalle de Solicitud"><i class="glyphicon glyphicon-align-justify"></i></a>
					<a class="btn btn-warning btn-sm" ng-click="gestionarRoles(item.cod_proceso)" tooltip="Gestionar Roles Potenciales"><i class="glyphicon glyphicon-user"></i></a>
				</td>
			  </tr>
			  <tr>
				<td colspan="3"><a class="btn btn-primary btn-sm" ng-click="nuevo()" tooltip="Nuevo"><i class="glyphicon glyphicon-plus"></i></a></td>
			  </tr>
			</tbody>
		  </table>
		</div>
		<pagination total-items="pag.total" ng-model="pag.actual" max-size="pag.max" class="pagination-sm" boundary-links="true" items-per-page="pag.itemxPagina" style="margin: 0px 0;"></pagination>
	</div>
	<div class="show-grid" ng-show="vista === 'mantener'">
		<div class="panel panel-default">
		  <div class="panel-heading"><span ng-show="esEdicion">Editar</span><span ng-show="!esEdicion">Registrar</span></div>
		  <form name="FRM_PROCESO" novalidate>
		  <table class="table">
			<tbody>
			  <tr>
				<th>Codigo (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="number" ng-model="cargado.PRO_cod_proceso" name="PRO_cod_proceso" ng-keyup="asignarFormato()" class="form-control input-sm" ng-disabled="esEdicion" required></td>
			  </tr>
			  <tr>
				<th>Nombre (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.PRO_nombre" name="PRO_nombre" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Clase (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.PRO_jav_clase" name="PRO_jav_clase" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Data Source (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.PRO_jav_datasource" name="PRO_jav_datasource" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Consulta de Resumen (*) :</th>
				<td class="form-inline form-group" show-errors='{showSuccess: true}'>
					<select class="form-control input-sm"
						ng-model="cargado.PRO_cod_con_resumen"
						ng-options="obj.cod_consulta as obj.nombre for obj in data.CONSULTA | orderBy: 'nombre'"
						name="PRO_cod_con_resumen" required></select>
					<button class="btn btn-info btn-sm" ng-click="cargarConsulta('resumen')" tooltip="Editar"><i class="glyphicon glyphicon-edit"></i></button>
				</td>
			  </tr>
			  <tr>
				<th>Consulta de Detalle (*) :</th>
				<td class="form-inline form-group" show-errors='{showSuccess: true}'>
					<select class="form-control input-sm"
						ng-model="cargado.PRO_cod_con_detalle"
						ng-options="obj.cod_consulta as obj.nombre for obj in data.CONSULTA | orderBy: 'nombre'"
						name="PRO_cod_con_detalle" required></select>
					<button class="btn btn-info btn-sm" ng-click="cargarModulo('detalle')" tooltip="Editar"><i class="glyphicon glyphicon-edit"></i></button>
				</td>
			  </tr>
			  <tr>
				<td colspan="2">
					<a class="btn btn-success btn-sm" ng-click="guardar()"><i class="glyphicon glyphicon-floppy-save"></i> <span ng-show="esEdicion">GUARDAR</span><span ng-show="!esEdicion">REGISTRAR</span></a>
					<a class="btn btn-info btn-sm" ng-click="instanciar()"><i class="glyphicon glyphicon-align-justify"></i> LISTAR</a>
				</td>
			  </tr>
			</tbody>
		  </table>
		  </form>
		</div>
	</div>
	<div ng-include="urlGestionar" ng-show="vista === 'gestionaraccion'"></div>
</div>