<script type="text/javascript" src="controlador/proyectogestionar.js"></script>
<div ng-controller="proyectogestionar">
	<div class="page-header"><h1>Proyectos</h1></div>
	<div class="panel panel-default" ng-show="vista === 'lista'">
	  <div class="panel-heading">Cartera de Proyectos</div>
	  <table class="table">
		<thead>
		  <tr>
			<th>Código</th>
			<th>Proyecto</th>
			<th>Paquete</th>
			<th>Opciones</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="proyecto in data.PROYECTOS">
			<td>{{proyecto.cod_proyecto}}</td>
			<td>{{proyecto.nombre}}</td>
			<td>{{proyecto.paquete}}</td>
			<td>
				<a class="btn btn-danger btn-sm" ng-click="eliminar($index)" ng-show="data.USUARIO.perfil=='PRO_MAN'" tooltip="Eliminar"><i class="glyphicon glyphicon-trash"></i></a>
				<a class="btn btn-primary btn-sm" ng-click="editarCargar($index)" ng-show="data.USUARIO.perfil=='PRO_MAN'" tooltip="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
				<a class="btn btn-success btn-sm" ng-click="trabajar($index)" tooltip="Trabajar"><i class="glyphicon glyphicon-play"></i></a>
			</td>
		  </tr>
		  <tr ng-show="data.USUARIO.perfil=='PRO_MAN'">
			<td colspan="4"><a class="btn btn-primary btn-sm" ng-click="nuevoCargar($index)" href="#"><i class="glyphicon glyphicon-plus"></i></a></td>
		  </tr>
		</tbody>
	  </table>
	</div>
	<div class="panel panel-default" ng-show="vista === 'mantener'">
	  <div class="panel-heading">Nuevo Proyecto</div>
	  <form name="FRM_PROYECTOGESTIONAR" novalidate>
		  <table class="table">
			<tbody>
			  <tr>
				<th width="40%">Código de Proyecto (*) :</th>
				<td width="60%" class="form-group" show-errors='{showSuccess: true}'><input type="text" name="cod_proyecto" ng-model="cargado.PRO_cod_proyecto" class="form-control input-sm" ng-disabled="esEdicion" required></td>
			  </tr>
			  <tr>
				<th>Nombre (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" name="nombre" ng-model="cargado.PRO_nombre" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Descripción (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" name="proyecto" ng-model="cargado.PRO_proyecto" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Paquete (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'>
					<input 
						name="paquete"
						type="text" 
						autocomplete="off" 
						class="form-control input-sm"
						data-typeahead-editable="false" 
						data-ng-model="cargado.PRO_paquete" 
						data-typeahead="paquete for paquete in paquetes | filter:$viewValue | limitTo:8" required>
				</td>
			  </tr>
			  <tr>
				<td colspan="2">
					<div class="panel panel-default">
					  <div class="panel-heading">Equipo</div>
						<table class="table">
							<thead>
							  <tr>
								<th>Usuario</th>
								<th>Nombre</th>
								<th>Rol</th>
								<th>Asignar como Equipo</th>
								<th>Asignar Responsable</th>
								<th>Carpeta de Workspace</th>
								<th>Carpeta Parcial</th>
							  </tr>
							</thead>
							<tbody>
							  <tr ng-repeat="usuario in USUARIOS">
								<td>{{usuario.cod_usuario}}</td>
								<td>{{usuario.nombre}}</td>
								<td>{{getPerfil(usuario.perfil)}}</td>
								<td><input type="checkbox" ng-model="usuario.esDelEquipo" class="form-control input-sm" style="width:30px"></td>
								<td><input type="radio" ng-model="cargado.UsuarioResponsable" value="{{usuario.cod_usuario}}" class="form-control input-sm" style="width:30px" ng-show="usuario.esDelEquipo"></td>
							 	<td><input type="text" ng-model="usuario.carpeta_destino_workspace" class="form-control input-sm" ng-show="usuario.esDelEquipo"></td>
							  	<td><input type="text" ng-model="usuario.carpeta_destino_parcial" class="form-control input-sm" ng-show="usuario.esDelEquipo"></td>
							  </tr>
							</tbody>
						</table>
					</div>
				</td>
			  </tr>
			  <tr>
				<td colspan="2">
					<a class="btn btn-success btn-sm" ng-click="guardar()"><i class="glyphicon glyphicon-floppy-save"></i> <span ng-show="esEdicion">Guardar</span><span ng-show="!esEdicion">Registrar</span></a>
					<a class="btn btn-danger btn-sm" ng-click="eliminar()" ng-show="esEdicion"><i class="glyphicon glyphicon-trash"></i> Eliminar</a>
					<a class="btn btn-primary btn-sm" ng-click="instanciar()" href="#"><i class="glyphicon glyphicon-chevron-left"></i> Listar</a>
				</td>
			  </tr>
			</tbody>
		  </table>
		</form>
	</div>
</div>