<script type="text/javascript" src="controlador/proyectodetalle.js"></script>
<div ng-controller="proyectodetalle" style="padding-top: 5px;">
<form name="FRM_PROYECTO" novalidate>
<div class="panel panel-default">
  <div class="panel-heading"><strong>Configuración del Proyecto</strong></div>
  <table class="table">
	<tbody>
	  <tr>
		<th>Código (*) :</th>
		<td><input type="text" ng-model="data.PROYECTO.cod_proyecto" class="form-control input-sm" ng-disabled="true"></td>
	  </tr>
	  <tr>
		<th>Nombre (*) :</th>
		<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="data.PROYECTO.nombre" name="PROYECTO.nombre" class="form-control input-sm" ng-disabled="data.EQUIPO.es_responsable=='0'" ng-required="data.EQUIPO.es_responsable=='1'"></td>
	  </tr>
	  <tr>
		<th>Proyecto (*) :</th>
		<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="data.PROYECTO.proyecto" name="data.PROYECTO.proyecto" class="form-control input-sm" ng-disabled="data.EQUIPO.es_responsable=='0'" ng-required="data.EQUIPO.es_responsable=='1'"></td>
	  </tr>
	  <tr>
		<th>Paquete (*) :</th>
		<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="data.PROYECTO.paquete" name="data.PROYECTO.paquete" class="form-control input-sm" ng-disabled="data.EQUIPO.es_responsable=='0'" ng-required="data.EQUIPO.es_responsable=='1'"></td>
	  </tr>
	  <tr ng-show="data.EQUIPO.es_responsable=='1'">
		<td colspan="2"><a class="btn btn-primary btn-sm" ng-click="guardarCPRO()"><i class="glyphicon glyphicon-floppy-save"></i> Guardar</a></td>
	  </tr>
	</tbody>
  </table>
</div>
<br>
<div class="panel panel-default">
  <div class="panel-heading">Configuración Personal</div>
  <table class="table">
	<tbody>
	  <tr>
		<th>Carpeta de Destino Generado (Pre Controlador) (*) :</th>
		<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="data.EQUIPO.carpeta_destino_workspace" name="EQUIPO.carpeta_destino_workspace" class="form-control input-sm" required></td>
	  </tr>
	  <tr>
		<th>Carpeta de Destino Fuentes (Controlador) (*) :</th>
		<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="data.EQUIPO.carpeta_destino_parcial" name="EQUIPO.carpeta_destino_parcial" class="form-control input-sm" required></td>
	  </tr>
	  <tr>
		<td><a class="btn btn-primary btn-sm" ng-click="guardarCPER()"><i class="glyphicon glyphicon-floppy-save"></i> Guardar</a></td>
		<td></td>
	  </tr>
	</tbody>
  </table>
</div>
</form>
</div>