<ul dnd-list="subSeccionItem.atributo.lista">
    <li ng-repeat="atributoItem in subSeccionItem.atributo.lista"
        dnd-draggable="atributoItem"
        dnd-moved="subSeccionItem.atributo.lista.splice($index, 1)"
        dnd-allowed-types="['atributos']"
		dnd-effect-allowed="move"
		dnd-disable-if="!config.esEdicion"
        ng-class="{
        	'selected': subSeccionItem.atributo.actual === atributo, 
        	'AnchoExtendido': config.esEdicion != true && (($index+1)%2 == 0 && subSeccionItem.atributo.lista[$index-1].web_tipo_campo=='A' || ($index+1)%2 != 0 && subSeccionItem.atributo.lista[$index+1].web_tipo_campo=='A'), 
        	'ModoEditor': config.esEdicion == true, 
        	'ModoVisual': config.esEdicion != true,
        	'ModoEditorDual': (config.esEdicion == true && (subSeccionItem.atributo.lista.length-1 != $index || (($index+1)%2==0 && subSeccionItem.atributo.lista.length-1 == $index))), 
        	'ModoEditorTotal': (config.esEdicion == true && ($index+1)%2!=0 && subSeccionItem.atributo.lista.length-1 == $index), 
        	'ModoVisualDual': (config.esEdicion != true && (subSeccionItem.atributo.lista.length-1 != $index || (($index+1)%2==0 && subSeccionItem.atributo.lista.length-1 == $index))), 
        	'ModoVisualTotal': (config.esEdicion != true && ($index+1)%2!=0 && subSeccionItem.atributo.lista.length-1 == $index)
        	}"
    >
        <span ng-show="config.esEdicion">
        	<span ng-show="atributoItem.web_requerido == '1'" class="frm_requerido">(*)</span>
        	{{atributoItem.web_etiqueta}} <em>({{atributoItem.cla_nombre}})</em>
			<span class="referenciaClase"> (Solo Lectura)</span>
			<i class="glyphicon glyphicon-edit seccionEditar" 
				ng-show="!seccionItem.cod_seccion_padre"
				ng-click="subSeccionItem.atributo.actual = $index" 
				popover-template="'popover_resumen_atributo.html'" 
				popover-title="Editar Atributo" 
				popover-placement="right" style="color: brown;"
				eid="atributo_{{$index}}"></i>
		</span>
		<div style="position: absolute; top: 3px; right: 3px;" ng-show="atributoItem.inf_error.length>0 && config.esEdicion"><a class="btn btn-danger btn-sm" tooltip="{{atributoItem.inf_error}}"><i class="glyphicon glyphicon-warning-sign"></i></a></div>
		<div class="frm_celda frm_cel_1a" ng-show="!config.esEdicion">
			<div class="frm_etiqueta">{{atributoItem.web_etiqueta}} :</div>
			<div class="frm_campo">{{atributoItem.web_modelo}}</div>
		</div>
    </li>
</ul>