<script type="text/javascript" src="controlador/tarea.js"></script>
<div ng-controller="tarea" style="padding-top: 5px;">
	<div class="panel panel-default" ng-show="vista === 'lista'">
	  <table class="table">
		<tbody>
		  <tr>
			<td><b>SELECCIONA UN PROCESO :</b></td>
			<td><select class="form-control input-sm"
						ng-model="COD_PROCESO"
						ng-options="obj.COD_PROCESO as obj.INF_NOMBRE for obj in data.PROCESO | orderBy: 'INF_NOMBRE'"></select></td>
		  </tr>
		</tbody>
	  </table>
	</div>
	<div class="container-fluid show-grid" ng-show="vista === 'lista'">
		<div class="panel panel-default">
		  <div class="panel-heading">Listado de Tareas</div>
		  <table class="table">
			<thead>
			  <tr>
				<th><input type="text" ng-model="buscar.COD_TAREA" placeholder="Código" class="form-control input-sm"></th>
				<th><input type="text" ng-model="buscar.NOMBRE" placeholder="Nombre" class="form-control input-sm"></th>
				<th><span tooltip="Atributos de Completar">COMPLETAR</span></th>
				<th><span tooltip="Atributos de Cancelar">CANCELAR</span></th>
				<th><span tooltip="Atributos de Observar">OBSERVAR</span></th>
				<th><span tooltip="Atributos de Rechazar">RECHAZAR</span></th>
				<th>Opción</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="item in data.TAREA | orderBy: 'COD_TAREA' | filter:buscar" ng-show="pag.get($index) == pag.actual">
				<td>{{item.COD_TAREA}}</td>
				<td>{{item.NOMBRE}}</td>
				<td><a ng-show="item.WEB_ACC_COMPLETAR == '1'" class="btn btn-info btn-sm" ng-click="gestionarAtributos('COMPLETAR',item.COD_TAREA)" tooltip="Gestionar Atributos"><i class="glyphicon glyphicon-tag"></i></td>
				<td><a ng-show="item.WEB_ACC_CANCELAR == '1'" class="btn btn-info btn-sm" ng-click="gestionarAtributos('CANCELAR',item.COD_TAREA)" tooltip="Gestionar Atributos"><i class="glyphicon glyphicon-tag"></i></td>
				<td><a ng-show="item.WEB_ACC_OBSERVAR == '1'" class="btn btn-info btn-sm" ng-click="gestionarAtributos('OBSERVAR',item.COD_TAREA)" tooltip="Gestionar Atributos"><i class="glyphicon glyphicon-tag"></i></td>
				<td><a ng-show="item.WEB_ACC_RECHAZAR == '1'" class="btn btn-info btn-sm" ng-click="gestionarAtributos('RECHAZAR',item.COD_TAREA)" tooltip="Gestionar Atributos"><i class="glyphicon glyphicon-tag"></i></td>
				<td>
					<a class="btn btn-danger btn-sm" ng-click="eliminar(item.COD_TAREA)" tooltip="Eliminar"><i class="glyphicon glyphicon-trash"></i></a>
					<a class="btn btn-primary btn-sm" ng-click="editarCargar(item.COD_TAREA)" tooltip="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="btn btn-info btn-sm" ng-click="gestionarTarea(item.COD_TAREA)" ng-hide="estalisto" tooltip="Gestionar Tarea"><i class="glyphicon glyphicon-book"></i></a>
				</td>
			  </tr>
			  <tr>
				<td colspan="7"><a class="btn btn-primary btn-sm" ng-click="nuevo()" tooltip="Nuevo"><i class="glyphicon glyphicon-plus"></i></a></td>
			  </tr>
			</tbody>
		  </table>
		</div>
		<pagination total-items="pag.total" ng-model="pag.actual" max-size="pag.max" class="pagination-sm" boundary-links="true" items-per-page="pag.itemxPagina" style="margin: 0px 0;"></pagination>
	</div>
	<div class="container-fluid show-grid" ng-show="vista === 'mantener'">
		<div class="panel panel-default">
		  <div class="panel-heading"><span ng-show="esEdicion">Editar</span><span ng-show="!esEdicion">Registrar</span></div>
		  <form name="FRM_TAREA">
		  <table class="table">
			<tbody>
			  <tr>
				<th>Codigo (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.TAR_COD_TAREA" name="TAR_COD_TAREA" ng-disabled="esEdicion" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Nombre (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.TAR_NOMBRE" name="TAR_NOMBRE" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Versión (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.TAR_VERSION" name="TAR_VERSION" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Consulta Trabajar (*) :</th>
				<td class="form-inline form-group" show-errors='{showSuccess: true}'>
					<select class="form-control input-sm"
						ng-model="cargado.TAR_COD_CON_TRABAJAR"
						ng-options="obj.COD_CONSULTA as obj.NOMBRE for obj in data.CONSULTA | orderBy: 'NOMBRE'"
						name="TAR_COD_CON_TRABAJAR" required>
					</select>
					<button class="btn btn-info btn-sm" ng-click="cargarModulo('proyectocargado','consulta',cargado.TAR_COD_CON_TRABAJAR)" tooltip="Editar"><i class="glyphicon glyphicon-edit"></i></button></td>
			  </tr>
			  <tr>
				<th>Consulta Completar (*) :</th>
				<td class="form-inline form-group" show-errors='{showSuccess: true}'>
					<select class="form-control input-sm"
						ng-model="cargado.TAR_COD_CON_COMPLETAR"
						ng-options="obj.COD_CONSULTA as obj.NOMBRE for obj in data.CONSULTA | orderBy: 'NOMBRE'"
						name="TAR_COD_CON_COMPLETAR" required>
					</select>
					<button class="btn btn-info btn-sm" ng-click="cargarModulo('proyectocargado','consulta',cargado.TAR_COD_CON_COMPLETAR)" tooltip="Editar"><i class="glyphicon glyphicon-edit"></i></button></td>
			  </tr>
			  <tr>
				<th>Aleas SQL (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.TAR_SQL_ALEAS" name="TAR_SQL_ALEAS" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>DataSource SQL (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><select class="form-control input-sm"
						ng-model="cargado.TAR_SQL_DATASOURCE"
						ng-options="obj.COD_DATASOURCE as obj.DESCRIPCION for obj in data.DATASOURCE | orderBy: 'DESCRIPCION'"
						name="TAR_SQL_DATASOURCE" required></select></td>
			  </tr>
			  <tr>
				<th>Nombre BPM (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.TAR_BPM_NOMBRE" name="TAR_BPM_NOMBRE" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Java Paquete (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.TAR_JAV_PAQUETE" name="TAR_JAV_PAQUETE" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Java Clase (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.TAR_JAV_CLASE" name="TAR_JAV_CLASE" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Acciones (*) :</th>
				<td>
				  <table class="table">
					<thead>
					  <tr>
						<th>Completar</th>
						<th>Grabar</th>
						<th>Cancelar</th>
						<th>Rechazar</th>
					    <th>Observar</th>
					    <th>Salir</th>
					    <th>Subsanar</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td><input type="checkbox" ng-model="cargado.TAR_WEB_ACC_COMPLETAR" class="form-control input-sm" style="width:30px" ng-true-value="'1'" ng-false-value="'0'"></td>
						<td><input type="checkbox" ng-model="cargado.TAR_WEB_ACC_GRABAR" class="form-control input-sm" style="width:30px" ng-true-value="'1'" ng-false-value="'0'"></td>
					  	<td><input type="checkbox" ng-model="cargado.TAR_WEB_ACC_CANCELAR" class="form-control input-sm" style="width:30px" ng-true-value="'1'" ng-false-value="'0'"></td>
					  	<td><input type="checkbox" ng-model="cargado.TAR_WEB_ACC_RECHAZAR" class="form-control input-sm" style="width:30px" ng-true-value="'1'" ng-false-value="'0'"></td>
					  	<td><input type="checkbox" ng-model="cargado.TAR_WEB_ACC_OBSERVAR" class="form-control input-sm" style="width:30px" ng-true-value="'1'" ng-false-value="'0'"></td>
					  	<td><input type="checkbox" ng-model="cargado.TAR_WEB_ACC_SALIR" class="form-control input-sm" style="width:30px" ng-true-value="'1'" ng-false-value="'0'"></td>
					  	<td><input type="checkbox" ng-model="cargado.TAR_WEB_ACC_SUBSANAR" class="form-control input-sm" style="width:30px" ng-true-value="'1'" ng-false-value="'0'"></td>
					  </tr>
					</tbody>
				  </table>
				</td>
			  </tr>
			  <tr>
				<th>Variable Comentario (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.TAR_WEB_PAR_HIS_COMENTARIO" name="TAR_WEB_PAR_HIS_COMENTARIO" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Variable Acción (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.TAR_WEB_PAR_HIS_ACCION" name="TAR_WEB_PAR_HIS_ACCION" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Tiempo Caducidad Rojo Defecto (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.TAR_WEB_TIE_ROJO" name="TAR_WEB_TIE_ROJO" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Tiempo Caducidad Rojo Amarillo (*) :</th>
				<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="cargado.TAR_WEB_TIE_AMARILLO" name="TAR_WEB_TIE_AMARILLO" class="form-control input-sm" required></td>
			  </tr>
			  <tr>
				<th>Opción a registrar Adjuntos? :</th>
				<td><input type="checkbox" ng-model="cargado.TAR_WEB_FLG_ARC_ADJUNTOS" class="form-control input-sm" style="width:30px" ng-true-value="'1'" ng-false-value="'0'"></td>
			  </tr>
			  <tr>
				<th>Opción a registrar Adicionales? :</th>
				<td><input type="checkbox" ng-model="cargado.TAR_WEB_FLG_ARC_ADICIONALES" class="form-control input-sm" style="width:30px" ng-true-value="'1'" ng-false-value="'0'"></td>
			  </tr>
			  <tr>
				<th>Nombre Web Configuración :</th>
				<td><input type="text" ng-model="cargado.TAR_WEB_NOM_CONFIGURACION" class="form-control input-sm"></td>
			  </tr>
			  <tr>
				<th>OBJETO BPM - ACCION COMPLETAR :</th>
				<td>
				  <table class="table">
					<thead>
					  <tr>
						<th>&nbsp;</th>
						<th>OBJETO BPM (*) :</th>
					  </tr>
					</thead>
					<tbody>
					  <tr ng-repeat="consultaCompleta in consultaCompletar">
						<td>{{$index+1}}</td>
						<td><select class="form-control input-sm" 
								ng-model="consultaCompleta.COD_OBJ_BPM" 
								ng-options="item.COD_OBJ_BPM as item.NOMBRE for item in data.OBJ_BPM | orderBy: 'NOMBRE'"
							></select></td>
						<td width="220px">
							<a class="btn btn-primary" ng-click="CompletaCompletarEliminar($index)" tooltip="Eliminar"><i class="glyphicon glyphicon-minus"></i></a>&nbsp;&nbsp;
						</td>
					  </tr>
					  <tr>
						<td colspan="9"><a class="btn btn-primary" ng-click="CompletaCompletarAgregar()"><i class="glyphicon glyphicon-plus"></i></a></td>
					  </tr>
					</tbody>
				  </table>
				</td>
			  </tr>
			  <tr>
				<th>OBJETO BPM - ACCION TRABAJAR :</th>
				<td>
				  <table class="table">
					<thead>
					  <tr>
						<th>&nbsp;</th>
						<th>OBJETO BPM (*) :</th>
					  </tr>
					</thead>
					<tbody>
					  <tr ng-repeat="consultaTrabaja in consultaTrabajar">
						<td>{{$index+1}}</td>
						<td><select class="form-control input-sm" ng-model="consultaTrabaja.COD_OBJ_BPM" ng-options="item.COD_OBJ_BPM as item.NOMBRE for item in data.OBJ_BPM | orderBy: 'NOMBRE'"></select></td>
						<td width="220px">
							<a class="btn btn-primary" ng-click="CompletaTrabajarEliminar($index)" tooltip="Eliminar"><i class="glyphicon glyphicon-minus"></i></a>&nbsp;&nbsp;
						</td>
					  </tr>
					  <tr>
						<td colspan="9"><a class="btn btn-primary" ng-click="CompletaTrabajarAgregar()"><i class="glyphicon glyphicon-plus"></i></a></td>
					  </tr>
					</tbody>
				  </table>
				</td>
			  </tr>
			  <tr>
				<td colspan="2">
					<a class="btn btn-success btn-sm" ng-click="guardar()"><i class="glyphicon glyphicon-floppy-save"></i> <span ng-show="esEdicion">GUARDAR</span><span ng-show="!esEdicion">REGISTRAR</span></a>
					<a class="btn btn-info btn-sm" ng-click="instanciar()"><i class="glyphicon glyphicon-align-justify"></i> LISTAR</a>
				</td>
			  </tr>
			</tbody>
		  </table>
		  </form>
		</div>
	</div>
	<div ng-include="'tareaaccionatributo.html'" ng-show="vista === 'atributos'"></div>
	<div ng-include="'tareagestionar.html'" ng-show="vista === 'gestionar'"></div>
</div>