<ul dnd-list="subSeccion.atributo.lista">
    <li ng-repeat="atributo in subSeccion.atributo.lista"
        dnd-draggable="atributo"
        dnd-moved="subSeccion.atributo.lista.splice($index, 1)"
        dnd-allowed-types="['atributos']"
		dnd-effect-allowed="move"
		dnd-disable-if="!config.esEdicion"
        dnd-selected="subSeccion.atributo.selected = atributo"
        ng-class="{
        	'selected': subSeccion.atributo.selected === atributo, 
        	'AnchoExtendido': config.esEdicion != true && (($index+1)%2 == 0 && subSeccion.atributo.lista[$index-1].EDITOR_TIPO_CAMPO=='A' || ($index+1)%2 != 0 && subSeccion.atributo.lista[$index+1].EDITOR_TIPO_CAMPO=='A'), 
        	'ModoEditor': config.esEdicion == true, 
        	'ModoVisual': config.esEdicion != true,
        	'ModoEditorDual': (config.esEdicion == true && (subSeccion.atributo.lista.length-1 != $index || (($index+1)%2==0 && subSeccion.atributo.lista.length-1 == $index))), 
        	'ModoEditorTotal': (config.esEdicion == true && ($index+1)%2!=0 && subSeccion.atributo.lista.length-1 == $index), 
        	'ModoVisualDual': (config.esEdicion != true && (subSeccion.atributo.lista.length-1 != $index || (($index+1)%2==0 && subSeccion.atributo.lista.length-1 == $index))), 
        	'ModoVisualTotal': (config.esEdicion != true && ($index+1)%2!=0 && subSeccion.atributo.lista.length-1 == $index)
        	}"
    >
        <span ng-show="config.esEdicion">
        	{{atributo.NOMBRE}}
	        <i class="glyphicon glyphicon-edit seccionEditar" 
				ng-click="subSeccion.atributo.selected = $index" 
				popover-template="'popover_atributo.html'" 
				popover-title="Editar" 
				popover-placement="right" style="color: brown;"
				eid="atributo_{{$index}}"></i>
			<span class="referenciaClase"><span ng-show="atributo.EDITOR_OBLIGATORIO == '1'" class="frm_requerido">(*)</span> (
				<span ng-show="atributo.EDITOR_TIPO_CAMPO == 'L'">Solo Lectura</span>
				<span ng-show="atributo.EDITOR_TIPO_CAMPO == 'C'">Caja de Texto</span>
				<span ng-show="atributo.EDITOR_TIPO_CAMPO == 'H'">Checkbox</span>
				<span ng-show="atributo.EDITOR_TIPO_CAMPO == 'A'">Área de Texto</span>
				<span ng-show="atributo.EDITOR_TIPO_CAMPO == 'E'">Lista Desplegable</span>
			)</span>
		</span>
		<div class="frm_celda frm_cel_1a" ng-show="!config.esEdicion">
			<div class="frm_etiqueta"><span ng-show="atributo.EDITOR_OBLIGATORIO == '1'" class="frm_requerido">(*)</span> {{atributo.NOMBRE}}:</div>
			<div class="frm_campo">
				<span ng-show="atributo.EDITOR_TIPO_CAMPO == 'L'">{{atributo.modelo}}</span>
				
				<span ng-show="(tipoClase[atributo.ATR_TIPO]=='I' || tipoClase[atributo.ATR_TIPO]=='L' || tipoClase[atributo.ATR_TIPO]=='l') && atributo.EDITOR_TIPO_CAMPO == 'C'"><input type="number" class="form-control input-sm" ng-model="atributo.EDITOR_MODELO_NUMERO"></span>
				
				<span ng-show="tipoClase[atributo.ATR_TIPO]=='S' && atributo.EDITOR_TIPO_CAMPO == 'C'"><input type="text" class="form-control input-sm" ng-model="atributo.EDITOR_MODELO"></span>
				<span ng-show="tipoClase[atributo.ATR_TIPO]=='S' && atributo.EDITOR_TIPO_CAMPO == 'A'">
					<textarea ng-model="atributo.EDITOR_MODELO" class="form-control input-sm" maxima-longitud="{{atributo.LONGITUD}}"></textarea>
					<span class="textoAdicional">Caracteres escritos : <b>{{atributo.EDITOR_MODELO.length}}</b> - Cantidad Máxima : <b>{{atributo.LONGITUD}}</b></span>
				</span>
				<span ng-show="tipoClase[atributo.ATR_TIPO]=='S' && atributo.EDITOR_TIPO_CAMPO == 'E'"><select ng-model="atributo.EDITOR_MODELO" class="form-control input-sm"></select></span>
				
				<span ng-show="tipoClase[atributo.ATR_TIPO]=='b' && atributo.EDITOR_TIPO_CAMPO == 'H'"><input type="checkbox" ng-model="atributo.EDITOR_MODELO"></span>
				
				<span ng-show="tipoClase[atributo.ATR_TIPO]=='B' && atributo.EDITOR_TIPO_CAMPO == 'C'"><input type="text" ng-model="atributo.EDITOR_MODELO" style="text-align: right;" class="form-control input-sm" nx-regla="decimal" nx-max-entero="atributo.LONGITUD" nx-max-decimal="atributo.PRECISION"></span>
				
				<span ng-show="tipoClase[atributo.ATR_TIPO]=='D' && atributo.EDITOR_TIPO_CAMPO == 'C'"><input type="date" class="form-control input-sm" ng-model="atributo.EDITOR_MODELO_FECHA" maxlength="10" is-open="fecha.abierto[atributo.WEB_NOMBRE]" style="width: 150px;" datepicker-popup=""></span>
				
			</div>
		</div>
    </li>
</ul>