<script type="text/javascript" src="controlador/tareagestionarresumen.js"></script>
<div ng-controller="tareagestionarresumen" style="padding-top: 5px;">
	<div class="row">
		<div class="col-md-8">
			<ol class="breadcrumb">
				<li><strong>{{data.PROCESO_CARGADO.nombre | uppercase}}</strong></li>
				<li><strong>{{data.TAREA_CARGADA.nombre | uppercase}}</strong></li>
				<li>RESUMEN DE TAREA</li>
			</ol>
		</div>
		<div class="col-md-4">
			<ol class="breadcrumb" style="text-align: right;">
			  <li><a class="btn btn-primary btn-sm" ng-model="editor.esEdicion" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">MODO EDITOR</a></li>
			  <li><a class="btn btn-info btn-sm" ng-click="$parent.instanciar()"><i class="glyphicon glyphicon-align-justify"></i> LISTAR TAREAS</a></li>
			</ol>
		</div>
	</div>
	<hr>
	<table style="width: 100%;">
		<tr>
			<td width="20%" style="border: 1px solid #ccc; padding: 5px;" valign="top" ng-show="editor.esEdicion">
				<div>
					<accordion close-others="false">
						<accordion-group is-open="true">
							<accordion-heading>Plantillas</accordion-heading>
							<div class="panel panel-default">
								<table class="table">
									<tr ng-repeat="plantillaItem in plantilla.lista">
										<td width="80%">{{plantillaItem.nombre}}</td>
										<td width="20%"><a class="btn btn-info btn-sm" ng-click="plantilla.cargar(plantillaItem.cod_plantilla)" ng-disabled="plantilla.accion=='esPlantilla'" tooltip="Cargar Plantilla"><i class="glyphicon glyphicon-export"></i></a></td>
									</tr>
									<tr ng-show="plantilla.accion=='esPlantilla'">
										<td colspan="2">Plantilla: <strong>{{plantilla.nombre}}</strong><br><a class="btn btn-info btn-sm" ng-click="plantilla.quitar()" tooltip="Quitar Plantilla"><i class="glyphicon glyphicon-remove"></i> QUITAR PLANTILLA</a></td>
									</tr>
								</table>
							</div>
						</accordion-group>
						<accordion-group is-open="true">
							<accordion-heading>Atributos</accordion-heading>
							<select class="form-control input-sm" ng-model="atrBuscar.cod_tabla" ng-options="tabla.cod_tabla as tabla.nombre for tabla in consulta.tablas | orderBy: 'nombre'">
								<option></option>
							</select>
							<input type="text" ng-model="atrBuscar.nombre" placeholder="Nombre" class="form-control input-sm">
							<div class="simpleDemo" style="max-height: 200px; overflow : auto; border: 1px solid #ccc;">
								<ul dnd-list="consulta.atributos">
							 	    <li ng-repeat="item in consulta.atributos | filter:atrBuscar"
							 	    	dnd-draggable="item"
								        dnd-effect-allowed="move"
								        dnd-selected="consulta.seleccionado = item"
								        dnd-allowed-types="['principal']"
								        dnd-type="'atributos'"
								        ng-class="{'selected': consulta.seleccionado === item}"
								    >
								        {{item.nombre}} <span class="referenciaClase">({{item.cla_nombre}})</span>
								        <div class="tipoAtributo" title="{{item.web_tipo}}">({{tipoClase[item.web_tipo]}})</div>
								    </li>
								</ul>
							</div>
						</accordion-group>
					</accordion>
				</div>
			</td>
			<td width="80%" style="border: 1px solid #ccc; padding: 5px;" valign="top" class="simpleDemoB">
				<div class="panel panel-default">
					<div class="simpleDemoB">
						<div ng-include="'plantilla/inc_resumentarea_titulo.html'"></div>
						<div ng-include="'plantilla/inc_editor_subseccion.html'" ng-show="plantilla.accion!='esPlantilla' || (plantilla.accion=='esPlantilla' && editor.esEdicion == false)"></div>
						<div ng-repeat="subSeccionItem in seccionItem.subSeccion.lista" ng-show="plantilla.accion=='esPlantilla' && editor.esEdicion == true">
							<div class="filaTitulo">&nbsp;&nbsp;<i class="glyphicon glyphicon-list-alt"></i> {{subSeccionItem.nombre}}</div>
							<ul dnd-list="subSeccionItem.atributo.lista">
							    <li ng-repeat="atributoItem in subSeccionItem.atributo.lista"
									dnd-disable-if="true"
							        ng-class="{
							        	'selected': subSeccionItem.atributo.actual === atributo, 
							        	'AnchoExtendido': editor.esEdicion != true && (($index+1)%2 == 0 && subSeccionItem.atributo.lista[$index-1].web_tipo_campo=='A' || ($index+1)%2 != 0 && subSeccionItem.atributo.lista[$index+1].web_tipo_campo=='A'), 
							        	'ModoEditor': editor.esEdicion == true, 
							        	'ModoVisual': editor.esEdicion != true,
							        	'ModoEditorDual': (editor.esEdicion == true && (subSeccionItem.atributo.lista.length-1 != $index || (($index+1)%2==0 && subSeccionItem.atributo.lista.length-1 == $index))), 
							        	'ModoEditorTotal': (editor.esEdicion == true && ($index+1)%2!=0 && subSeccionItem.atributo.lista.length-1 == $index), 
							        	'ModoVisualDual': (editor.esEdicion != true && (subSeccionItem.atributo.lista.length-1 != $index || (($index+1)%2==0 && subSeccionItem.atributo.lista.length-1 == $index))), 
							        	'ModoVisualTotal': (editor.esEdicion != true && ($index+1)%2!=0 && subSeccionItem.atributo.lista.length-1 == $index)
							        	}"
							    >
									<span>
										{{atributoItem.web_etiqueta}} <em>({{atributoItem.cla_nombre}})</em>
										<span class="referenciaClase"> (Solo Lectura)</span>
									</span>
							    </li>
							</ul>
						</div>
						
						<div ng-include="'plantilla/inc_resumentarea_botonera.html'"></div>
					</div>
				</div>
			</td>
		</tr>
	</table>
	<hr>
	<div class="well" style=" padding: 10px;  margin-bottom: 0px; " ng-show="editor.esEdicion">
		<a class="btn btn-success btn-sm" ng-click="plantilla.registrar()"><i class="glyphicon glyphicon-floppy-save"></i> REGISTRAR</a>
	</div>
</div>