<script type="text/javascript" src="controlador/tareaaccionatributo.js"></script>
<div ng-controller="tareaaccionatributo" style="padding-top: 5px;">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
			  <li><b>ATRIBUTOS DE LA TAREA "{{tareaPadre.NOMBRE | uppercase}}" - ACCIÓN "{{cargado.TIPO_ACCION}}"</b></li>
			</ol>
		</div>
	</div>
	<div class="container-fluid show-grid">
		<div class="panel panel-default">
		  <div class="panel-heading">Listado de Atributos - <a class="btn btn-info btn-sm" ng-click="$parent.instanciar()"><i class="glyphicon glyphicon-align-justify"></i> LISTAR</a></div>
		  <table class="table">
			<thead>
			  <tr>
				<th>&nbsp;</th>
				<th><input type="text" ng-model="buscarAtributo.CLASE_NOMBRE" placeholder="Clase" class="form-control input-sm"></th>
				<th><input type="text" ng-model="buscarAtributo.ATRIBUTO_NOMBRE" placeholder="Atributo" class="form-control input-sm"></th>
				<th>Java Valor por Omisión :</th>
				<th>Web Validación :</th>
				<th ng-show="cargado.TIPO_ACCION == 'COMPLETAR'">Web Tab Campo :</th>
				<th ng-show="cargado.TIPO_ACCION == 'COMPLETAR'">Web Order Validación :</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="item in data.TAREA_ATRIBUTO | orderBy: 'COD_CLASE' | filter:buscarAtributo">
				<td>{{$index+1}}</td>
				<td><select class="form-control input-sm" ng-model="item.COD_CLASE" ng-options="item.COD_CLASE as item.NOMBRE for item in data.CLASE | orderBy: 'NOMBRE'" ng-change="cargarAtributos($index)"></select></td>
				<td><select class="form-control input-sm" ng-model="item.COD_ATRIBUTO" ng-options="item.COD_ATRIBUTO as item.NOMBRE for item in listaAtributos[item.COD_CLASE] | orderBy: 'NOMBRE'"></select></td>
				<td><input type="text" ng-model="item.JAV_VAL_OMISION" class="form-control input-sm"></td>
				<td><input type="checkbox" ng-model="item.WEB_FLG_VALIDACION" ng-true-value="'1'" ng-false-value="'0'" class="form-control input-sm" style="width:30px"></td>
				<td ng-show="cargado.TIPO_ACCION == 'COMPLETAR'"><input type="checkbox" ng-model="item.WEB_TAB_CAMPO" ng-true-value="'1'" ng-false-value="'0'" class="form-control input-sm" style="width:30px"></td>
				<td ng-show="cargado.TIPO_ACCION == 'COMPLETAR'"><input type="number" ng-model="item.WEB_ORD_VALIDACION" class="form-control input-sm"></td>
				<td>
					<a class="btn btn-primary" ng-click="atributoEliminar($index)" tooltip="Eliminar"><i class="glyphicon glyphicon-minus"></i></a>
				</td>
			  </tr>
			  <tr>
				<td colspan="{{columnasNro}}"><a class="btn btn-primary" ng-click="atributoAgregar()"><i class="glyphicon glyphicon-plus"></i></a></td>
			  </tr>
			  <tr>
				<td colspan="{{columnasNro}}">
					<a class="btn btn-success btn-sm" ng-click="guardar()"><i class="glyphicon glyphicon-floppy-save"></i> REGISTRAR</a>
				</td>
			  </tr>
			</tbody>
		  </table>
		</div>
	</div>
</div>