<script type="text/javascript" src="controlador/usuariogestionar.js"></script>
<div ng-controller="usuariogestionar" style="padding-top: 5px;">
	<div class="page-header"><h1>Usuarios</h1></div>
	<div class="row">
		<div class="col-md-6 show-grid">
			<div class="panel panel-default">
			  <div class="panel-heading">Listado de Usuarios</div>
			  <table class="table">
				<thead>
				  <tr>
					<th>Usuario</th>
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Rol</th>
					<th>Opción</th>
				  </tr>
				</thead>
				<tbody>
				  <tr ng-repeat="usuario in data.USUARIOS">
					<td>{{usuario.cod_usuario}}</td>
					<td>{{usuario.nombre}}</td>
					<td>{{usuario.descripcion}}</td>
					<td>{{getPerfil(usuario.perfil)}}</td>
					<td>
						<a class="btn btn-danger btn-sm" ng-click="eliminar(usuario.cod_usuario)" href=""><i class="glyphicon glyphicon-trash"></i></a>&nbsp;&nbsp;
						<a class="btn btn-primary btn-sm" ng-click="editarCargar(usuario.cod_usuario)" href=""><i class="glyphicon glyphicon-pencil"></i></a>
					</td>
				  </tr>
				</tbody>
			  </table>
			</div>
			<pagination total-items="pag.total" ng-model="pag.actual" max-size="pag.max" class="pagination-sm" boundary-links="true" items-per-page="pag.itemxPagina" style="margin: 0px 0;"></pagination>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
			  <div class="panel-heading"><span ng-show="esEdicion">Editar</span><span ng-show="!esEdicion">Registrar</span></div>
			  <form name="FRM_USUARIO">
				  <table class="table">
					<tbody>
					  <tr>
						<th>Código de Usuario (*) :</th>
						<td class="form-group" show-errors='{showSuccess: true}'><input type="text" name="cod_usuario" ng-model="cargado.USU_cod_usuario" class="form-control input-sm" ng-disabled="esEdicion" ng-required="!esEdicion"></td>
					  </tr>
					  <tr ng-show="esEdicion">
						<th>Contraseña Anterior (*) :</th>
						<td class="form-group" show-errors='{showSuccess: true}'><input type="password" name="claveAnterior" ng-model="cargado.claveAnterior" class="form-control input-sm"></td>
					  </tr>
					  <tr>
						<th>Contraseña (*) :</th>
						<td class="form-group" show-errors='{showSuccess: true}'><input type="password" name="clave" ng-model="cargado.USU_clave" class="form-control input-sm" ng-required="!esEdicion"></td>
					  </tr>
					  <tr>
						<th>Repetir Contraseña (*) :</th>
						<td class="form-group" show-errors='{showSuccess: true}'><input type="password" name="repetirClave" ng-model="cargado.repetirClave" class="form-control input-sm" ng-required="!esEdicion"></td>
					  </tr>
					  <tr>
						<th>Nombre (*) :</th>
						<td class="form-group" show-errors='{showSuccess: true}'><input type="text" name="nombre" ng-model="cargado.USU_nombre" class="form-control input-sm" required></td>
					  </tr>
					  <tr>
						<th>Descripción (*) :</th>
						<td class="form-group" show-errors='{showSuccess: true}'><input type="text" name="descripcion" ng-model="cargado.USU_descripcion" class="form-control input-sm" required></td>
					  </tr>
					  <tr>
						<th>Perfil (*) :</th>
						<td class="form-group" show-errors='{showSuccess: true}'><select name="perfil" class="form-control input-sm" ng-model="cargado.USU_perfil" ng-options="perfil.id as perfil.valor for perfil in data.config.perfiles" required></select></td>
					  </tr>
					  <tr>
						<td><button type="button" class="btn btn-success btn-sm" ng-click="guardar()"><i class="glyphicon glyphicon-floppy-save"></i> <span ng-show="esEdicion">Guardar</span><span ng-show="!esEdicion">Registrar</span></button></td>
						<td><button type="button" class="btn btn-primary btn-sm" ng-click="instanciar()" ng-show="esEdicion"><i class="glyphicon glyphicon-plus"></i> Nuevo</button></td>
					  </tr>
					</tbody>
				  </table>
			</form>
			</div>
		</div>
	</div>
</div>