<div class="page-header"><h1>Usuarios</h1></div>
<div class="row">
	<div class="col-md-6 show-grid">
		<div class="panel panel-default">
		  <div class="panel-heading">Listado de Usuarios</div>
		  <table class="table">
			<thead>
			  <tr>
				<th>Usuario</th>
				<th>Nombre</th>
				<th>Rol</th>
				<th>Opción</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="usuario in data.Usuarios">
				<td>{{usuario.cod_usuario}}</td>
				<td>{{usuario.nombre}}</td>
				<td>{{getComboxId('Perfil',usuario.perfil)}}</td>
				<td>
					<a class="btn btn-primary" ng-click="usu.eliminar($index)" href=""><i class="glyphicon glyphicon-trash"></i></a>&nbsp;&nbsp;
					<a class="btn btn-primary" ng-click="usu.editarCargar($index)" href=""><i class="glyphicon glyphicon-pencil"></i></a>
				</td>
			  </tr>
			</tbody>
		  </table>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
		  <div class="panel-heading"><span ng-show="usu.esEdicion">Editar</span><span ng-show="!usu.esEdicion">Registrar</span></div>
		  <table class="table">
			<tbody>
			  <tr>
				<th>Código de Usuario (*) :</th>
				<td><input type="text" ng-model="usu.cargado.USU_cod_usuario" class="form-control" ng-disabled="usu.esEdicion"></td>
			  </tr>
			  <tr ng-show="usu.esEdicion">
				<th>Contraseña Anterior (*) :</th>
				<td><input type="password" ng-model="usu.cargado.claveAnterior" class="form-control"></td>
			  </tr>
			  <tr>
				<th>Contraseña (*) :</th>
				<td><input type="password" ng-model="usu.cargado.USU_clave" class="form-control"></td>
			  </tr>
			  <tr>
				<th>Repetir Contraseña (*) :</th>
				<td><input type="password" ng-model="usu.cargado.repetirClave" class="form-control"></td>
			  </tr>
			  <tr>
				<th>Nombres (*) :</th>
				<td><input type="text" ng-model="usu.cargado.USU_nombre" class="form-control"></td>
			  </tr>
			  <tr>
				<th>Perfil (*) :</th>
				<td><select class="form-control" ng-model="usu.cargado.USU_perfil" ng-options="perfil.id as perfil.valor for perfil in combo.Perfil"></select></td>
			  </tr>
			  <tr>
				<th>Descripción (*) :</th>
				<td><textarea class="form-control" ng-model="usu.cargado.USU_descripcion"></textarea></td>
			  </tr>
			  <tr>
				<td><button type="button" class="btn btn-primary" ng-click="usu.guardar()"><i class="glyphicon glyphicon-floppy-save"></i> <span ng-show="usu.esEdicion">Guardar</span><span ng-show="!usu.esEdicion">Registrar</span></button></td>
				<td><button type="button" class="btn btn-primary" ng-click="usu.instanciar()" ng-show="usu.esEdicion"><i class="glyphicon glyphicon-plus"></i> Nuevo</button></td>
			  </tr>
			</tbody>
		  </table>
		</div>
	</div>
</div>