<div class="well" style=" padding: 10px;  margin-bottom: 0px; ">
	<a class="btn btn-success btn-sm" ng-click="trabajar()" ng-show="baseTrabajar.visibleBotonIniciar"><i class="glyphicon glyphicon-play"></i> TRABAJAR</a>
	<a class="btn btn-warning btn-sm" ng-click="grabar()" ng-show="baseTrabajar.visibleBotonGrabar"><i class="glyphicon glyphicon-play"></i> GRABAR</a>
	<a class="btn btn-info btn-sm" ng-click="resetear()"><i class="glyphicon glyphicon-repeat"></i> RESETEAR</a>
	<a class="btn btn-info btn-sm" ng-click="cerrarTrabajarTarea()"><i class="glyphicon glyphicon-chevron-left"></i> ATRAS</a>
</div>