<table style="border-collapse: separate; border-spacing: 5px;">
	<tr>
		<td colspan="4"> <input type="text" placeholder="{{subSeccionItem.nombre}}" class="form-control input-sm" style="width:100%" ng-model="subSeccionItem.nombre"></td>
	</tr>
	<tr>
		<td><a class="btn btn-danger btn-sm" ng-click="subSeccion.eliminar()" tooltip="Eliminar"><i class="glyphicon glyphicon-minus"></i></a></td>
		<td><a class="btn btn-info btn-sm" ng-click="subSeccion.subir()" tooltip="Subir"><i class="glyphicon glyphicon-arrow-up"></i></a></td>
		<td><a class="btn btn-info btn-sm" ng-click="subSeccion.bajar()" tooltip="Bajar"><i class="glyphicon glyphicon-arrow-down"></i></a></td>
		<td><a class="btn btn-info btn-sm" ng-click="subSeccion.copiar()" tooltip="Copiar"><i class="glyphicon glyphicon-tags"></i></a></td>
	</tr>
</table>