<div class="modal-header">
	<h3 class="modal-title">Generar</h3>
</div>
<div class="modal-body">
	<div class="panel panel-default">
	  <table class="table table-bordered">
		<tbody>
		  <tr>
			<td><span class="frm_requerido">(*)</span> Componentes :</td>
			<td>
				<div class="panel panel-default">
					<div class="panel-heading"><input type="checkbox" ng-model="componente.esActivo"> Mantenimientos</div>
					<table class="table table-striped">
						<thead>
						  <tr>
							<th>Componente</th>
							<th><input type="checkbox" ng-disabled="componente.esActivo"> Parte Editable</th>
							<th><input type="checkbox" ng-disabled="componente.esActivo"> Parte Pre</th>
						  </tr>
						</thead>
						<tr ng-repeat="mantenimiento in data.Mantenimiento">
							<th>{{mantenimiento.nombre}}</th>
							<td><input type="checkbox" ng-disabled="componente.esActivo"></td>
							<td><input type="checkbox" ng-disabled="componente.esActivo"></td>
						</tr>
					</table>
				</div>
			</td>
		  </tr>
		  <tr>
			<td>Comentario :</td>
			<td><textarea name="comentarioObservacion" class="form-control input-sm" ng-model="data.comentarioObservacion"></textarea></td>
		  </tr>
		  <tr>
			<td colspan="2"><input type="checkbox"> Guardar Configuración</td>
		  </tr>
		</tbody>
	  </table>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-danger" ng-click="agregar()"><i class="glyphicon glyphicon-play"></i> Generar</button>
	<button class="btn btn-info" ng-click="cancelar()"><i class="glyphicon glyphicon-remove-circle"></i> Cancelar</button>
</div>