<div class="page-header"><h1>Unidades de Negocio</h1></div>
<div class="row">
	<div class="col-md-6 show-grid">
		<div class="panel panel-default">
		  <div class="panel-heading">Listado de Bancas</div>
		  <table class="table">
			<thead>
			  <tr>
				<th>Código</th>
				<th>Descripción</th>
				<th>Opción</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="un in data.UnidadesNegocio">
				<td>{{un.codigoUnidadNegocio}}</td>
				<td>{{un.descripcion}}</td>
				<td>
					<a class="btn btn-primary" ng-click="une.eliminar($index)" href="#"><i class="glyphicon glyphicon-trash"></i></a>&nbsp;&nbsp;
					<a class="btn btn-primary" ng-click="une.editarCargar($index)" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
				</td>
			  </tr>
			</tbody>
		  </table>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
		  <div class="panel-heading"><span ng-show="une.esEdicion">Editar</span><span ng-show="!une.esEdicion">Registrar</span></div>
		  <table class="table">
			<tbody>
			  <tr>
				<th>Código de Unidad de Negocio (*) :</th>
				<td><input type="text" ng-model="une.cargado.UNE_codigoUnidadNegocio" class="form-control" ng-disabled="une.esEdicion"></td>
			  </tr>
			  <tr>
				<th>Descripción (*) :</th>
				<td><textarea class="form-control" ng-model="une.cargado.UNE_descripcion"></textarea></td>
			  </tr>
			  <tr>
				<td><button type="button" class="btn btn-primary" ng-click="une.guardar()"><i class="glyphicon glyphicon-floppy-save"></i> <span ng-show="une.esEdicion">Guardar</span><span ng-show="!une.esEdicion">Registrar</span></button></td>
				<td><button type="button" class="btn btn-primary" ng-click="une.instanciar()" ng-show="une.esEdicion"><i class="glyphicon glyphicon-plus"></i> Nuevo</button></td>
			  </tr>
			</tbody>
		  </table>
		</div>
	</div>
</div>