<script type="text/javascript" src="../webControlador/proyectodetalle.js"></script>
<div ng-controller="proyectodetalle" style="padding-top: 5px;">
<form name="FRM_PROYECTO" novalidate>
<div class="panel panel-default">
  <div class="panel-heading">Configuración del Proyecto</div>
  <table class="table">
	<tbody>
	  <tr>
		<th>Código (*) :</th>
		<td><input type="text" ng-model="data.PROYECTO.COD_PROYECTO" class="form-control input-sm" ng-disabled="true"></td>
	  </tr>
	  <tr>
		<th>Nombre (*) :</th>
		<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="data.PROYECTO.NOMBRE" name="PROYECTO.NOMBRE" class="form-control input-sm" ng-disabled="!data.EQUIPO.ES_RESPONSABLE" ng-required="!data.EQUIPO.ES_RESPONSABLE"></td>
	  </tr>
	  <tr>
		<th>Proyecto Web (*) :</th>
		<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="data.PROYECTO.JAV_PRO_WEB" name="PROYECTO.JAV_PRO_WEB" class="form-control input-sm" ng-disabled="!data.EQUIPO.ES_RESPONSABLE" ng-required="!data.EQUIPO.ES_RESPONSABLE"></td>
	  </tr>
	  <tr>
		<th>Proyecto EJB (Implementación) (*) :</th>
		<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="data.PROYECTO.JAV_PRO_EJB" name="PROYECTO.JAV_PRO_EJB" class="form-control input-sm" ng-disabled="!data.EQUIPO.ES_RESPONSABLE" ng-required="!data.EQUIPO.ES_RESPONSABLE"></td>
	  </tr>
	  <tr>
		<th>Proyecto EJB Externo (Implementación) (*) :</th>
		<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="data.PROYECTO.JAV_PRO_EJB_EXT" name="PROYECTO.JAV_PRO_EJB_EXT" class="form-control input-sm" ng-disabled="!data.EQUIPO.ES_RESPONSABLE" ng-required="!data.EQUIPO.ES_RESPONSABLE"></td>
	  </tr>
	  <tr>
		<th>Proyecto EJB Cliente (Interfaz) (*) :</th>
		<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="data.PROYECTO.JAV_PRO_CLI_EJB" name="PROYECTO.JAV_PRO_CLI_EJB" class="form-control input-sm" ng-disabled="!data.EQUIPO.ES_RESPONSABLE" ng-required="!data.EQUIPO.ES_RESPONSABLE"></td>
	  </tr>
	  <tr>
		<th>Proyecto Libreria (*) :</th>
		<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="data.PROYECTO.JAV_PRO_LIBRERIA" name="PROYECTO.JAV_PRO_LIBRERIA" class="form-control input-sm" ng-disabled="!data.EQUIPO.ES_RESPONSABLE" ng-required="!data.EQUIPO.ES_RESPONSABLE"></td>
	  </tr>
	  <tr>
		<th>Paquete Java (*) :</th>
		<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="data.PROYECTO.JAV_PAQUETE" name="PROYECTO.JAV_PAQUETE" class="form-control input-sm" ng-disabled="!data.EQUIPO.ES_RESPONSABLE" ng-required="!data.EQUIPO.ES_RESPONSABLE"></td>
	  </tr>
	  <tr>
		<th>Prefijo de Controlador (*) :</th>
		<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="data.PROYECTO.JAV_PRE_CONTROLADOR" name="PROYECTO.JAV_PRE_CONTROLADOR" class="form-control input-sm" ng-disabled="!data.EQUIPO.ES_RESPONSABLE" ng-required="!data.EQUIPO.ES_RESPONSABLE"></td>
	  </tr>
	  <tr>
		<th>Paquete de Controlador (*) :</th>
		<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="data.PROYECTO.JAV_PAQ_CONTROLADOR" name="PROYECTO.JAV_PAQ_CONTROLADOR" class="form-control input-sm" ng-disabled="!data.EQUIPO.ES_RESPONSABLE" ng-required="!data.EQUIPO.ES_RESPONSABLE"></td>
	  </tr>
	  <tr ng-show="data.EQUIPO.ES_RESPONSABLE">
		<td colspan="2"><a class="btn btn-primary btn-sm" ng-click="guardarCPRO()"><i class="glyphicon glyphicon-floppy-save"></i> Guardar</a></td>
	  </tr>
	</tbody>
  </table>
</div>
<br>
<div class="panel panel-default">
  <div class="panel-heading">Configuración Personal</div>
  <table class="table">
	<tbody>
	  <tr>
		<th>Carpeta de Destino Generado (Pre Controlador) (*) :</th>
		<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="data.EQUIPO.CARPETA_DESTINO_WORKSPACE" name="EQUIPO.CARPETA_DESTINO_WORKSPACE" class="form-control input-sm" required></td>
	  </tr>
	  <tr>
		<th>Carpeta de Destino Fuentes (Controlador) (*) :</th>
		<td class="form-group" show-errors='{showSuccess: true}'><input type="text" ng-model="data.EQUIPO.CARPETA_DESTINO_PARCIAL" name="EQUIPO.CARPETA_DESTINO_PARCIAL" class="form-control input-sm" required></td>
	  </tr>
	  <tr>
		<td><a class="btn btn-primary btn-sm" ng-click="guardarCPER()"><i class="glyphicon glyphicon-floppy-save"></i> Guardar</a></td>
		<td></td>
	  </tr>
	</tbody>
  </table>
</div>
</form>
</div>