<h4>Roles</h4>
<div class="row">
	<div class="col-md-6 show-grid">
		<div class="panel panel-default">
		  <div class="panel-heading">Listado</div>
		  <table class="table">
			<thead>
			  <tr>
				<th>Código</th>
				<th>Descripción</th>
				<th>Estado</th>
				<th>Opción</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="rold in data.Rol">
				<td>{{rold.codigoRol}}</td>
				<td>{{rold.descripcion}}</td>
				<td>{{rold.estado}}</td>
				<td>
					<a class="btn btn-primary" ng-click="rol.eliminar($index)" href=""><i class="glyphicon glyphicon-trash"></i></a>&nbsp;&nbsp;
					<a class="btn btn-primary" ng-click="rol.editarCargar($index)" href=""><i class="glyphicon glyphicon-pencil"></i></a>
				</td>
			  </tr>
			</tbody>
		  </table>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
		  <div class="panel-heading"><span ng-show="rol.esEdicion">Editar</span><span ng-show="!rol.esEdicion">Registrar</span></div>
		  <table class="table">
			<tbody>
			  <tr>
				<th>Código (*) :</th>
				<td><input type="text" ng-model="rol.cargado.ROL_codigoRol" class="form-control" ng-disabled="rol.esEdicion"></td>
			  </tr>
			  <tr>
				<th>Descripción (*) :</th>
				<td><textarea class="form-control" ng-model="rol.cargado.ROL_descripcion"></textarea></td>
			  </tr>
			  <tr>
				<th>Estado (*) :</th>
				<td>
					<input type="radio" ng-model="rol.cargado.ROL_estado" data-ng-value="1"> Activo
					<input type="radio" ng-model="rol.cargado.ROL_estado" data-ng-value="0"> Inactivo
				</td>
			  </tr>
			  <tr>
				<td><button type="button" class="btn btn-primary" ng-click="rol.guardar()"><i class="glyphicon glyphicon-floppy-save"></i> <span ng-show="rol.esEdicion">Guardar</span><span ng-show="!rol.esEdicion">Registrar</span></button></td>
				<td><button type="button" class="btn btn-primary" ng-click="rol.instanciar()" ng-show="rol.esEdicion"><i class="glyphicon glyphicon-plus"></i> Nuevo</button></td>
			  </tr>
			</tbody>
		  </table>
		</div>
	</div>
</div>