<accordion close-others="false">
	<accordion-group ng-repeat="seccion in objSeccion.lista" is-open="seccion.activo">
		<accordion-heading>	
			<i class="glyphicon" ng-class="{true:'glyphicon-folder-open', false:'glyphicon-folder-close'}[seccion.activo]"></i>&nbsp; {{seccion.nombre}}
			<span style="color:red" ng-show="seccion.alertas>0">&nbsp;&nbsp;&nbsp;&nbsp; {{seccion.alertas}} <i class="glyphicon glyphicon-bell"></i></span>
			<i class="glyphicon glyphicon-edit seccionEditar" 
				ng-click="objSeccion.actual = $index + 1" 
				popover-template="'popover_seccion.html'" 
				popover-title="Editar" 
				popover-placement="right" style="color: brown;"
				eid="seccionEditar_{{$index}}"
				ng-show="config.esEdicion"></i>
		</accordion-heading>
		<div ng-include="'tareagestionar_subSeccion.html'"></div>
	</accordion-group>
	<accordion-group ng-click="seccionAgregar()" ng-show="config.esEdicion">
		<accordion-heading>	
			<i class="glyphicon glyphicon-plus"></i>
		</accordion-heading>
	</accordion-group>
</accordion>