<div class="page-header"><h1>Perfil de Usuario</h1></div>
<div class="panel panel-default">
  <div class="panel-heading">Datos</div>
  <table class="table">
	<tbody>
	  <tr>
		<th>Código de Usuario (*) :</th>
		<td>{{data.Usuario.codigoUsuario}}</td>
	  </tr>
	  <tr>
		<th>Contraseña Anterior (*) :</th>
		<td><input type="password" ng-model="peu.cargado.claveAnterior" class="form-control"></td>
	  </tr>
	  <tr>
		<th>Contraseña (*) :</th>
		<td><input type="password" ng-model="peu.cargado.USU_clave" class="form-control"></td>
	  </tr>
	  <tr>
		<th>Repetir Contraseña (*) :</th>
		<td><input type="password" ng-model="peu.cargado.repetirClave" class="form-control"></td>
	  </tr>
	  <tr>
		<th>Nombres (*) :</th>
		<td><input type="text" ng-model="peu.cargado.USU_nombre" class="form-control"></td>
	  </tr>
	  <tr>
		<th>Rol (*) :</th>
		<td>{{getComboxId('Perfil',data.Usuario.perfil)}}</td>
	  </tr>
	  <tr>
		<th>Descripción (*) :</th>
		<td><textarea ng-model="peu.cargado.USU_descripcion" class="form-control"></textarea></td>
	  </tr>
	  <tr>
		<td><button type="button" class="btn btn-primary" ng-click="peu.guardar()"><i class="glyphicon glyphicon-floppy-save"></i> Guardar</button></td>
		<td></td>
	  </tr>
	</tbody>
  </table>
</div>