<script type="text/javascript" src="/CartaFianzaWeb/portal/controlador/modulo/tareas.js"></script>
<div ng-controller="tareas">
	<div class="row" ng-show="vistaTarea == 'lista'">
		<div class="col-md-8">
		<div class="panel panel-default">
		  <div class="panel-heading form-inline">
		  	<select class="form-control input-sm" placeholder="Tipo de Tarea"><option value=""></option><option value="1" selected="selected">TAREAS PENDIENTES</option><option value="1">TAREAS RECLAMADAS</option></select>
		  	<a class="btn btn-info btn-sm" ng-click="filtrar.abrir()" tooltip="Filtrar"><i class="glyphicon glyphicon-filter"></i></a>
		  </div>
			<table class="table table-striped table-hover">
			    <thead>
			        <tr>
			            <th>Proceso</th>
			            <th>Tarea</th>
			            <th>Descripción</th>
			            <th style="text-align: center;">Responsable</th>
			            <th>Creado Hace</th>
			            <th>&nbsp;</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr ng-repeat="tarea in tareas">
			            <th>{{tarea.proceso.nombre}}</th>
			            <td>{{tarea.nombre}}</td>
			            <td>{{tarea.version}}</td>
			            <td style="text-align: center;">
			            	<a  popover-template="'modulo/procesos_perfilDueno.html'" 
			            		popover-placement="right"
			            		popover-trigger="mouseenter"
			            		>
			            		<div class="foto_perfil_marcoB"><img ng-src="{{tarea.urlFoto}}" width="32" height="32"/></div>
			            	</a>
			            </td>
			            <td><a class="btn btn-sm" ng-class="tarea.fechaCreacionEstilo" tooltip="Fecha de Creación: {{tarea.fechaCreacion | date: 'dd/MM/yyyy hh:mm:ss a'}}"><i class="glyphicon glyphicon-bell"></i></a> {{tarea.fechaCreacionResumen}}</td>
			            <td style="text-align: right;">
			            	<a class="btn btn-info btn-sm" tooltip="Ver Detalle" ng-click="verDetalle()"><i class="glyphicon glyphicon-align-justify"></i></a>
			            	<a class="btn btn-info btn-sm" tooltip="Trabajar"><i class="glyphicon glyphicon-chevron-right"></i></a>
			            </td>
			        </tr>
			    </tbody>
			</table>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
			  <div class="panel-heading"><strong>Nueva Solicitud</strong></div>
				<table class="table table-striped table-hover">
				    <tbody>
				        <tr ng-repeat="proceso in data.procesoPotenciales | orderBy:'+codigoProcesoPlantillas'">
				        	<th>{{proceso.nombre}}</th>
				        	<td style="text-align: right;">
				            	<a class="btn btn-info btn-sm" ng-click="iniciarProceso(proceso.codigoProcesoPlantilla)" tooltip="Iniciar"><i class="glyphicon glyphicon-play"></i></a>
				            </td>
				        </tr>
				    </tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row" ng-show="vistaTarea == 'inicio'">
		<div class="col-md-12">
			<div class="panel panel-default">
			  <div class="panel-heading"><strong>Nueva Solicitud</strong></div>
				<table class="table table-striped">
				    <tbody>
					  <tr>
						<th><span class="frm_requerido">(*)</span> Tipo de Fianza :</th>
						<td>
							<select name="tipoBusqueda" ng-model="procesoInicio.tipoFianza" class="form-control input-sm" required>
								<option value="LIC">LICITACION</option>
								<option value="REQ">REQUERIMIENTO</option>
								<option value="DET">DETALLE</option>
							</select>
						</td>
					  </tr>
					  <tr>
						<th><span class="frm_requerido">(*)</span> Monto :</th>
						<td class="form-inline">
							<select name="monedaFianza" ng-model="procesoInicio.monedaFianza" class="form-control input-sm" required>
								<option value="USD">DÓLARES AMERICANOS</option>
								<option value="PEN">NUEVOS SOLES</option>
							</select>
							<input type="text" name="montoFianza" ng-model="procesoInicio.montoFianza" class="form-control input-sm" required>
						</td>
					  </tr>
				    </tbody>
				</table>
			</div>
			<div ng-include="'plantillas/inc_iniciarproceso_botonera.html'"></div>
		</div>
	</div>
</div>